<div class='searchHero col-md-10 ' style="margin: 0 auto; margin-top:20px;">

  <form class="row center-block hero-search">

    <!-- <button [style.float]="translation.floatValue" md-button class="col-md-1 col-xs-6" style="height:60px; background-color: #0f2630; color:aliceblue; "
      (click)="_animateFilters()">
          {{translation.currentLang.filter}} <md-icon>filter_list</md-icon>
    </button> -->


    <div class="col-md-11 col-xs-12" id="searchingSpace">

      <input #searchText 
        (keyup)="canSearch( searchText.value +yearFilter.value + aNumberFilter.value + numberFilter.value);" 
        [style.float]="translation.floatValue" type="text" id="search-bar"
        placeholder="{{translation.currentLang.keySearch}}" 
        [mdAutocomplete]="auto" 
        [formControl]="stateCtrl"
        (keyup.enter)="searchEnter(searchText.value ,yearFilter.value , aNumberFilter.value , numberFilter.value)"
      >
      <md-autocomplete #auto="mdAutocomplete">
        <md-option *ngFor="let state of filteredStates | async" [value]="state[translation.langKey]" (click)="search(state[translation.langKey],numberFilter.value , aNumberFilter.value , yearFilter.value)">
          <small>{{ state[translation.langKey] }}</small>
        </md-option>
      </md-autocomplete>
      <div class="clearfix"></div>      
      <md-card class="col-xs-12">
        <h5 class="card-title" style="text-align:justify;"> {{translation.currentLang.advanceddSearch}} </h5>
        <div [style.float]="translation.menuFloatValue">  
        <md-input-container floatPlaceholder="never" [style.text-align]='translation.textAlignValue'>

            <input mdInput #numberFilter 
            (keyup)="canSearch( searchText.value +yearFilter.value + aNumberFilter.value + numberFilter.value);" 
            [placeholder]="translation.currentLang.regNum"
            (keyup.enter)="searchEnter(searchText.value ,yearFilter.value , aNumberFilter.value , numberFilter.value)"
            >

          </md-input-container>
          <md-input-container floatPlaceholder="never" [style.text-align]='translation.textAlignValue'>

            <input mdInput #aNumberFilter 
            (keyup)="canSearch( searchText.value +yearFilter.value + aNumberFilter.value + numberFilter.value);" 
            [placeholder]="translation.currentLang.articleNum"
            (keyup.enter)="searchEnter(searchText.value ,yearFilter.value , aNumberFilter.value , numberFilter.value)"
            >

          </md-input-container>
          <md-input-container floatPlaceholder="never" [style.text-align]='translation.textAlignValue'>

            <input type="number" mdInput  
            (keyup)="canSearch( searchText.value +yearFilter.value + aNumberFilter.value + numberFilter.value);" #yearFilter 
            [placeholder]="translation.currentLang.regYear"
            (keyup.enter)="searchEnter(searchText.value ,yearFilter.value , aNumberFilter.value , numberFilter.value)"
            >

          </md-input-container>
        </div>         
        <div class="clearfix"></div>
      </md-card>

    </div>

    
    <button md-disable-backdrop [disabled]="isDisabled" [style.background]="isDisabled ? 'rgb(165, 184, 196)' : '#1b89ca' " 
    [style.float]="translation.menuFloatValue" md-raised-button class="col-md-1 col-sm-12" style="height:60px;  color:aliceblue;"
    (click)="search(searchText.value+' ',numberFilter.value , aNumberFilter.value , yearFilter.value)" type="button" > 
     <md-icon>search</md-icon>
    </button>

  </form>
  <br/>
  <br/>
  <form class="row center-block hero-search">
    
        <!-- <button [style.float]="translation.floatValue" md-button class="col-md-1 col-xs-6" style="height:60px; background-color: #0f2630; color:aliceblue; "
          (click)="_animateFilters()">
              {{translation.currentLang.filter}} <md-icon>filter_list</md-icon>
        </button> -->
    
    
        <div class="col-md-11 col-xs-12" id="searchingSpace">
          <input #freeSearchText (keyup)="canSearch2(freeSearchText.value);" [style.float]="translation.floatValue" type="text" id="search-bar"
            placeholder="{{translation.currentLang.freeSearch}}"
            (keyup.enter)="search(freeSearchText.value,numberFilter.value , aNumberFilter.value , yearFilter.value , true)"
            >
          <div class="clearfix"></div>      
        </div>

        
        <button [disabled]="isDisabled2" [style.background]="isDisabled2 ? 'rgb(165, 184, 196)' : '#1b89ca' " 
        [style.float]="translation.menuFloatValue" md-raised-button class="col-md-1 col-sm-12" style="height:60px;  color:aliceblue;"
        (click)="search(freeSearchText.value,numberFilter.value , aNumberFilter.value , yearFilter.value , true)" type="button"> 
         <md-icon>search</md-icon>
        </button>
    
      </form>
  <!-- 
  <md-card *ngIf="advanced_search" style="margin-bottom: 50px;" class="row center-block">

  </md-card> -->


  <!-- 
      <md-spinner *ngIf="!lodded" class="center-block"></md-spinner>

    <div class="cards" matchHeightMax='match'>

    <div class="post col-md-4 col-xs-12 match" *ngFor='let post of posts'>

      <md-card>
        <img md-card-image src={{(post).image}}>
        <md-card-content>
          <h3>{{(post)[translation.langKey].name}}</h3>
          <p>
            {{ ((post)[translation.langKey].body.length>20)? ((post)[translation.langKey].body | slice:0:180)+'...' : (post)[translation.langKey].body
            }}
          </p>
          <span>{{(post)?.date}}</span>
        </md-card-content>
        <md-card-actions>
          <button md-raised-button color="accent" type='submit' (click)="openDialog((post)[translation.langKey] )"> {{translation.currentLang.open}} <md-icon>open_in_new</md-icon> </button>
        </md-card-actions>
      </md-card>
    </div>

    <div>

      <div class="post col-md-4 col-xs-12 match" *ngFor='let vote of votes'>


        <md-card *ngIf='vote.visible' [class.submitted]='vote.submitted'>

          <img md-card-image [src]="voteImgPath">
          <md-card-content>
            <h3>{{(vote)[translation.langKey].text}}</h3>

            <md-radio-group [(ngModel)]='vote.identifier'>
              <md-radio-button *ngFor='let option of (vote)[translation.langKey].options' [value]="option.value">
                &nbsp; {{option.title}}
              </md-radio-button>
            </md-radio-group>
          </md-card-content>

          <md-card-actions>
            <button md-raised-button color="accent" type='submit' (click)='submitVote(vote, vote.identifier)' [disabled]="vote.submitting">  {{translation.currentLang.vote}} <md-icon>send</md-icon> </button>
          </md-card-actions>
        </md-card>

      </div>
    </div>

  </div> -->



</div>
