.committee-card {margin-bottom: 20px}
.committee-card .info{
    border: 1px solid #CCC; border-radius: 8px; border-bottom: 0;
    background-color: #FFF; box-shadow: 0 0 1px 0.3px rgba(0, 0, 0, 0.2); overflow: hidden;
    transition: all 0.1s ease-in-out;
    border-bottom: 0;
}
.committee-card .info.add-new {border-bottom-left-radius: 8px; border-bottom-right-radius: 8px}
.committee-card .info{box-shadow: 0 0 1px 1.3px rgba(0, 0, 0, 0.2);}
.committee-card .tools {
    border: 1px solid #CCC; border-top: 0;
    border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;
    box-shadow: 0px 0.7px 2px 1px rgba(0,0,0,0.25); overflow: hidden; 
}
.committee-card .header {
    background-size: cover; height: 140px;
    box-shadow: 0px 1px 1px 0.5px rgba(0,0,0,0.2)
}
.committee-card .header .logo {
    position: relative; top: 65%;
    background-color: #FFF; box-shadow: 0 0 1px 0.3px rgba(0, 0, 0, 0.2);
    border: 1px solid #CCC; border-radius: 50%;
    padding: 10px 0
}
.committee-card .header .logo img {width: 75%}
.committee-card .meta-data {margin-top: 45px}
.committee-card .meta-data h3 {
     font-weight: 700; font-size: 16px;
    margin-bottom: 0
}
.committee-card .meta-data p {
    font-size: 13px; font-style: italic;
    color: #777;
    margin-top: 5px; margin-bottom: 10px
}
.committee-card .meta-data span {
    font-family: roboto;
    font-size: 12px;
    float: left;
    color: #333
}
md-radio-button {
    display: block;
    margin-bottom: 5px
}
.mat-radio-label-content {
    padding-right: 8px !important;
}

.committee-card .vote h3 {
    margin-bottom: 10px
}
.committee-card .info.submitted {
    box-shadow: 0 0 2px 2.3px rgba(0, 255, 0, 0.25);
    border: 1px solid #CFC
}



  body{
    padding-top: 75px;
  }
  
 
  #searchingSpace{
    padding: 0px;
  }
  input#search-bar{
    font-family: 'GESS-Medium';
    width: 100%;
    height: 60px;
    padding: 0 20px;
    font-size: 1.7rem;
    border: 1px solid #D0CFCE;
    outline: none;
    &:focus{
      border: 1px solid #008ABF;
      transition: 0.35s ease;
      color: #008ABF;
      &::-webkit-input-placeholder{
        transition: opacity 0.45s ease; 
          opacity: 0;
       }
      &::-moz-placeholder {
        transition: opacity 0.45s ease; 
          opacity: 0;
       }
      &:-ms-placeholder {
       transition: opacity 0.45s ease; 
         opacity: 0;
       }    
     }
   }

button{
    border-radius: 0px;
    font-family: 'GESS-Medium' !important;
}

.cards{
    margin-top: 40px;
}  
.cards >md-card{
    min-height: 450px;
}
.filter{
    margin-bottom: 30px;
}
img{
    max-height: 210px !important;
}


md-card-actions {
    position: absolute;
    bottom: 25px;
}

md-input-container{
    margin: 0px 30px;
}

.searchHero.col-md-10{
    margin-top: 8% !important;
}

@media only screen and (max-width: 768px){
    .searchHero.col-md-10{
        margin-top: 2% !important;
    }
}