<md-card class="col-md-6" style="margin: 50px auto;">
  
  <form *ngIf="!emailsent" [formGroup]='forgetPasswordForm' (ngSubmit)='submitForget(forgetPasswordForm.value)'>
    <h2 style='text-align: center'>{{(lang)?.resetPassword}}</h2>
    <md-input-container class='col-md-12' style='width:100%'>
      <input mdInput type='email' [placeholder]="(lang)?.email" formControlName='email'>
    </md-input-container>
    <div class='clearfix'></div>
    <div *ngIf="loginErr" style='text-align:center'>
      <span style="color:rgb(218, 47, 47); text-align:center;"> {{lang.noEmail}} </span>
    </div>
    <div style='text-align:center'>
      <button md-raised-button type='submit' class='col-xs-6 col-xs-push-3' [disabled]="sending">{{(lang)?.reset}}</button>
    </div>
    <div class='clearfix'></div>
  </form>
  
  <form *ngIf="emailsent" [formGroup]='resetPasswordForm' (ngSubmit)='submitReset(resetPasswordForm.value)'>
    <h2 style='text-align: center'>{{(lang)?.resetPassword}}</h2>
    <md-input-container class='col-md-12' style='width:100%'>
      <input mdInput type='text' [placeholder]="(lang)?.key" formControlName='token'>
    </md-input-container>
    <md-input-container class='col-md-12' style='width:100%'>
      <input mdInput type='text' [placeholder]="(lang)?.password" formControlName='new_password'>
    </md-input-container>
    <div class='clearfix'></div>

    <div *ngIf="loginErr" style='text-align:center'>
      <span style="color:rgb(218, 47, 47); text-align:center;"> {{lang.error}} </span>
    </div>
    
    <div style='text-align:center'>
      <button md-raised-button type='submit' class='col-xs-6 col-xs-push-3'  [disabled]="sending" >{{(lang)?.reset}}</button>
    </div>
    <div class='clearfix'></div>
  </form>
  
  

</md-card>

