<section id="services">
  <header>
    <h1>{{lang.currentLang.services}}</h1>
  </header>
  <div class="after-header container">
    <md-card *ngFor="let service of services">
      <div class="row" [style.margin]="'12px'">
        <div class="col-md-3 col-sm-12 col-xs-12 card-img-top" [style.backgroundImage]=" 'url('+ service.image +')'" >
        </div>
        <div class="col-8">
          <br/>
          <h3 class="card-title" [style.text-align]='lang.textAlignValue +"!important"'>{{service[lang.langKey].name}}</h3>
          <p class="card-text" [style.text-align]='lang.textAlignValue' [innerHTML]="(service[lang.langKey])?.body" > </p>
        </div>
      </div>
    </md-card>
    <br/>
    <br/>
  </div>
</section>
