section{
  min-height: 80vh;
}
header{
  text-align: center;
  background-color: #1586C5;
  padding: 20px;
  padding-top: 60px;
  color: white;
}
.after-header{
  margin-top: 50px;
  background-color: #1586C5;
}
.row{
  margin: 0;
}
.card{
  border: 0;
  border-radius: 0;
  color: #4C4C4C;
}
.card-img-top{
  height: 250px;
  min-width: 250px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.card-body{
  text-align: center;
}
.card-body > p {
  text-align: center !important;
  max-width: 250px;
  margin: 0 auto;
}



#services{
  background-color: #1586C5;
}