<div style="margin-bottom: 50px;"></div>
<nav class="navbar fixed-top navbar-expand-md" style="border-bottom: 1px solid #48b1df">  
  <div style="text-align: center; margin: 0 auto; width: 100vw;">
      <nav *ngIf="translation.innerWidth < 766" class="row" style="margin-top: -15px; margin-bottom: 20px;" 
         [style.direction]="translation.langKey === 'ar' ? 'ltr' : 'rtl'"> 
          <button md-button (click)="changeLang()"  style="color:#fff; margin: 5px;">
              {{translation.langKey === 'en' ? translation.ar.arabic : translation.en.english}}
          </button>
      </nav>
    <div class="row">
      <div class="col-sm-10 col-9 col-md-3" style="max-width:80%;">
        <a class="navbar-brand" href="#">
          <img class="logo-img" src="assets/images/logo.png">
        </a>
      </div>
      <button class="navbar-toggler"  type="button" [mdMenuTriggerFor]="menu" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <md-menu #menu="mdMenu">
          <a md-menu-item style="font-size:20px;" (click)="openDialog()" >
              {{ translation.currentLang.userLogin }}
          </a>
          <a md-menu-item *ngFor="let item of items" style="font-size:20px;" pageScroll  [pageScrollDuration]="600" [pageScrollOffset]="100" [href]='item.href'>
            {{ translation.currentLang[item.name]}}
          </a>
    </md-menu>
          <div class="col-9 col-md-12 col-lg-8">
        <div class="collapse navbar-collapse" id="navbarSupportedContent"  [style.float]="translation.floatValue" >
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item" *ngFor="let item of items; let i = index">
              <a pageScroll  [pageScrollDuration]="600" [href]='item.href' [pageScrollOffset]="100" style="cursor: pointer;">
                {{ translation.currentLang[item.name]}}
              </a>
            </li>
          </ul>
          <div>
            
              <button md-raised-button color="accent" (click)="openDialog()" class="nav-item" [style.fontFamily]="'Roboto,Helvetica'" >
                  {{ translation.currentLang.userLogin }}
              </button>
            <button md-raised-button color="accent" (click)="changeLang()" class="nav-item" [style.fontFamily]="'Roboto,Helvetica'" [style.width]="'48px'" >
              {{ translation.currentLang.langBtn }}
              </button>
              
          </div>
          
        </div>
      </div>
    </div>
  </div>
</nav>
