.navbar{
  font-size: 14px;
  background-color: white;
}
.container{
  padding: 0;
}
.logo-img{
  width: 100%;
  min-width: 175px;
}
 

.navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-collapse{
  margin-top: 10px;
}
.navbar ul {
  margin-top: 15px;
  padding-right: 0;
}
.navbar ul li a{
  text-decoration: none;
  color: #3697CD;
  text-align: center;
  padding: 5px;
  margin-left: 15px;
}
.navbar ul li a:hover{
  color: white;
  background-color: #3697CD;
}
.form-inline{
  width: 100%;
  margin-top: 15px;
}
.search-input{
  width: 70%;
  border-radius: 0;
  height: 30px;
}
.search-btn{
  padding: 0;
  width: 15%;
  border-radius: 0;
  background-color: white;
  border-color: #C3C3C3;
  color: #C3C3C3;
  height: 30px;
}

.mat-raised-button {
  min-width : 30px;
}

button.mat-menu-item {
  max-height: 50px;
  font-family: inherit;
}


.navbar-toggler{
  height: 40px;
  margin-right: 50px;
  background-color: #2991CA;
  margin-top: 15px;
}

@media only screen and (max-width: 400px) {
  .navbar-toggler{
    height: 40px;
    margin-right: 0px;
    background-color: #2991CA;
    margin-top: 0px;
    
  }
}
