<md-card>

  <div *ngIf="spinner">
    <md-spinner class="center-block"></md-spinner>
    <h3 style="text-align: center; color:#6586ab;"> {{translation.currentLang.loading}} </h3>
  </div>
  
  <md-table #table [dataSource]="dataSource" [style.direction]="translation.direction">     
               
      
           
          
          
          <ng-container mdColumnDef="regulation">
            <md-header-cell *mdHeaderCellDef> {{ translation.currentLang.regName }} </md-header-cell>
            <md-cell *mdCellDef="let element"> {{element.regulation.name[translation.langKey]}} </md-cell>
          </ng-container>
          
          <ng-container mdColumnDef="date">
              <md-header-cell *mdHeaderCellDef> {{ translation.currentLang.date }} </md-header-cell>
              <md-cell *mdCellDef="let element"> {{element.notifications}} </md-cell>
            </ng-container>
        
          <ng-container mdColumnDef="action">
              <md-header-cell *mdHeaderCellDef> {{ translation.currentLang.CompliancePlan }} </md-header-cell>
              <md-cell *mdCellDef="let element"> {{element.note}} </md-cell>
            </ng-container>
        
          <ng-container mdColumnDef="open">
              <md-header-cell *mdHeaderCellDef> {{ translation.currentLang.open }} </md-header-cell>
              <md-cell *mdCellDef="let element">
                  <button md-icon-button [routerLink]="'/user/regulation/' + element.regulation.id">
                    <span style="font-size: 13px; color: #1F4A6F" [mdTooltip]="translation.currentLang.open" >
                    <md-icon>folder_open</md-icon> 
                    </span>
                  </button>
              </md-cell>
          </ng-container> 
          

          <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
          <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>


        </md-table>
      
    </md-card>