.table-holder {
    padding-left: 5px; 
    padding-right: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
}


@media only screen and (min-width: 768px) {
   .table-holder {
        padding-left: 20px; 
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    } 
}