<app-home-page-navbar></app-home-page-navbar>

<section class="first">
    <div class="container">
        <div class="info-holder col-sm-6 col-xs-12">
            <div class="text-center col-xs-8 col-xs-push-2">
                <img style='border: 2px solid #FFF' src="../../assets/images/homepage-1.jpg"
                    alt="">
                <div class="caption-text">
                    الجديد على البوابة
                </div>
            </div>
            <div class="clearfix"></div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quo ut cumque pariatur obcaecati, et nesciunt quod inventore
                sapiente quasi hic ab voluptates, aliquam similique, adipisci aliquid impedit provident facere.
            </p>
        </div>
        <div class="info-holder col-sm-6 col-xs-12">
            <div class="text-center col-xs-8 col-xs-push-2">
                <img style='border: 2px solid #FFF' src="../../assets/images/homepage-2.jpg"
                    alt="">
                <div class="caption-text">
                    استشارة الاسبوع
                </div>
            </div>
            <div class="clearfix"></div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quo ut cumque pariatur obcaecati, et nesciunt quod inventore
                sapiente quasi hic ab voluptates, aliquam similique, adipisci aliquid impedit provident facere.
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
</section>

<section class="second">
    <div class="container">
        <h3>
            Who Are We?
        </h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quo ut cumque pariatur obcaecati, et nesciunt quod inventore
            sapiente quasi hic ab voluptates, aliquam similique, adipisci aliquid impedit provident facere.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quo ut cumque pariatur obcaecati, et nesciunt quod inventore
            sapiente quasi hic ab voluptates, aliquam similique, adipisci aliquid impedit provident facere.
        </p>
    </div>
</section>

<section class="third">
    <div class="container">
        <div class="col-md-4 col-xs-12">
            <h4>Heading</h4>
            <div class='image-holder' style='background-image: url(../../assets/images/homepage-3.jpg); background-size: cover; border: 2px solid #FFF; height: 220px'></div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quo ut cumque pariatur obcaecati.
            </p>
        </div>
        <div class="col-md-4 col-xs-12">
            <h4>Heading</h4>
            <div class='image-holder' style='background-position: 50% 50%; background-image: url(../../assets/images/homepage-4.jpg); background-size: cover; border: 2px solid #FFF; height: 220px'></div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quo ut cumque pariatur obcaecati.
            </p>
        </div>
        <div class="col-md-4 col-xs-12">
            <h4>Heading</h4>
            <div class='image-holder' style='background-image: url(../../assets/images/homepage-5.jpg); background-size: cover; border: 2px solid #FFF; height: 220px'></div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quo ut cumque pariatur obcaecati.
            </p>
        </div>
    </div>
</section>

<div class="bar-blue"></div>
<section class="fourth">
    <div class="content">
        <h3>TITLE</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quo ut cumque pariatur obcaecati.
        </p>
    </div>
</section>

<section class="fifth">
    <div class="container">
        <div class="title col-md-3 col-sm-6 col-xs-12">
            <div class="col-xs-12">
                <h4>TITLE</h4>
            </div>
        </div>
        <div class="title col-md-3 col-sm-6 col-xs-12">
            <div class="col-xs-12">
                <h4>TITLE</h4>
            </div>
        </div>
        <div class="title col-md-3 col-sm-6 col-xs-12">
            <div class="col-xs-12">
                <h4>TITLE</h4>
            </div>
        </div>
        <div class="title col-md-3 col-sm-6 col-xs-12">
            <div class="col-xs-12">
                <h4>TITLE</h4>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>

<div class="bar-grey"></div>
<div class="contact">
    <h3>Contact Us</h3>
</div>
<footer>
    <div class="container">
        <div class="contact-info">
            <div class="col-sm-4 col-xs-12">
                <strong class='col-xs-4'>Email</strong>
                <div class="info col-xs-8">
                    <span>email@domain.com</span>
                    <span>email@domain.com</span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <strong class='col-xs-4'>Mobile</strong>
                <div class="info col-xs-8">
                    <span>0123456789</span>
                    <span>0123456789</span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="col-xs-4 text-center">
                    <button md-icon-button>
                        <md-icon md-icon style='color:#0080CD'>phone</md-icon>
                    </button>
                </div>
                <div class="col-xs-4 text-center">
                    <button md-icon-button>
                        <md-icon style='color: #0080CD'>satellite</md-icon>
                    </button>
                </div>
                <div class="col-xs-4 text-center">
                    <button md-icon-button>
                        <md-icon style='color: #0080CD'>help</md-icon>
                    </button>
                </div>
            </div>
            <div class="clearfix"></div>
            <form style='margin-top: 15px'>
                <md-input-container class='col-md-4 col-xs-12'>
                    <input mdInput type='text' placeholder="Name">
                </md-input-container>
                <md-input-container class='col-md-4 col-xs-12'>
                    <input mdInput type='text' placeholder="Email">
                </md-input-container>
                <md-input-container class='col-md-4 col-xs-12'>
                    <input mdInput type='text' placeholder="Mobile">
                </md-input-container>
                <div class="clearfix"></div>
                <div class="text-center">
                    <button md-button>Send</button>
                </div>
            </form>
        </div>
    </div>
</footer>