.first {
    padding: 30px 0;
    text-align: center;
    background-color: #333
}

.first img {
    width: 100%
}

.first p {
    color: #FFF;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0
}

.info-holder {
    position: relative;
}

.info-holder img {
    width: 100%
}

.info-holder .caption-text {
    position: absolute;
    left: 15px;
    bottom: 0;
    width: calc(100% - 30px);
    padding: 6px 0;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    color: #FFF;
    font-size: 16px;
    font-weight: bold
}

@media only screen and (max-width: 768px) {
    .info-holder:not(:last-of-type) {
        margin-bottom: 20px
    }
}

.second {
    background-color: #0080CD;
    padding: 25px;
    color: #FFF
}

.second h3 {
    margin: 0 0 10px 0;
    font-weight: bold;
    font-size: 22px;
    text-align: center
}

.second p {
    text-align: justify;
}

.third {
    padding: 25px 0
}

.image-holder {
    text-align: center
}

.third img {
    display: inline-block;
    width: 80%;
}

.third h4 {
    text-align: center;
    color: #0080CD
}

.third p {
    text-align: center;
    margin-top: 10px
}

.fourth {
    position: relative;
    height: 35vh;
    background-image: url('../../../assets/images/homepage-6.jpg');
    background-position: 80% 50%;
    background-size: cover
}

.fourth .content {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%; height: 30%; min-height: 100px;
    text-align: center; color: #FFF;
    padding: 30px 0 0 0; margin: 0;
    background-color: rgba(0,0,0, 0.5);
}

.fourth .content h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0
}

.fifth {
    padding: 25px 0
}

.fifth .title {
    text-align: center;
}

.fifth .title div {
    padding: 15px 20px;
    border: 1px solid #CCC;
    border-radius: 4px
}

.fifth .title h4 {
    color: #00F;
    margin: 0
}

.bar-blue {
    padding: 14px 0;
    background-color: #0080CD;
    margin: 0
}

.bar-grey {
    padding: 14px 0;
    background-color: #999;
    margin: 9
}

.contact {
    padding: 20px 0;
    background-color: #0080CD
}

.contact h3 {
    text-align: center;
    color: #FFF;
    font-size: 22px;
    font-weight: bold;
    margin: 0
}

.contact-info {
    padding: 25px 0
}

.contact-info .info {
    border-left: 1px solid #00F
}

.contact-info .info span {
    display: block
}

.contact-info .info span:not(:last-of-type) {
    margin-bottom: 4px
}