input[type='radio'] {
    outline: none
}

.example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin-top: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }

  .question-holder {
    position: relative;
    padding: 20px 20px;
  }

  .att {
    position: absolute;
    bottom: 20px;
    background-color: #1F4A6F;
    color: #FFF;
  }

  .chooses{
    color: #7a7a7a;
  }
  .question{
    color: #b3b3b3;
    margin-top: 20px;
  }

  strong{
    font-size: 1.2em;
  }

  .mat-tab-body-content {
    overflow: hidden
  }

  .mat-tab-body-wrapper {
    padding: 20px 0
  }
  .mat-input-container {
    font-size: 14px;
    flex-grow: 1;
  }
  
  .mat-table {
    overflow: auto;
    text-align: center
  }
  
  .btn-primary {
    background-color: #23547E
  }
  
  .open-regulation {
    font-family: Roboto, Helvetica;
    width: 100%; height: 100%;
    color: #FFF;
    text-decoration: none;
  }

  md-tab-body {
    padding:  20px 0 5px 0
  }
  
  button.tab-label {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 9999
  }
  md-input-container {
    width: 100%
  }

  h2 {
    text-align: center;
    margin: 0 0 35px 0;
    font-family: roboto
  }
  h2 span {
    display: inline-block;
    padding: 0 15px 8px 15px;
    border-bottom: 1px solid rgba(0,0,0,1);
  }
  
  /* Structure */
  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 20px;
  }
  
  .example-header {
    min-height: 64px;
    display: flex;
    align-items: baseline;
    padding: 8px 24px 0;
    font-size: 20px;
    justify-content: space-between;
  }
  
  .mat-input-container {
    font-size: 14px;
    flex-grow: 1;
  }
  
  .mat-table {
    overflow: auto;
    text-align: center
  }
  
  .btn-primary {
    background-color: #23547E
  }
  
  .open-regulation {
    font-family: Roboto, Helvetica;
    width: 100%; height: 100%;
    color: #FFF;
    text-decoration: none;
  }
  
  md-card {
    position: relative
  }
  .side-menu {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    height: 100%; z-index: 999; background-color: #FFF;
    box-shadow: 6px 0 8px -4px rgba(0,0,0,0.45);
    overflow: hidden;
  }
  
  .side-menu .holder {
    position: relative
  }
  
  .close-nav {
    position: absolute;
    top: 5px; right: 5px
  }
  
  .change-view-button {
    width:100%
  }

  .qBtn {
    min-height: 45px; min-width:210px; font-size:14px; text-transform: uppercase;
  }

  .saving {
    background-color: #FF0 !important; color: #FFF
  }

  .error {
    background-color: #F00 !important; color: #FFF
  }

  .saved {
    background-color: #48c983 !important; color:#fff;
  }

  .waiting {
    background-color: #CCC !important; color: #FFF
  }