<div class="question col-xs-12">
  <md-card style="background-color: #f7f7f7;">
    <md-spinner *ngIf='!loaded' class="center-block"></md-spinner>
    <form *ngIf='loaded'>
      <md-progress-bar color='primary' mode="determinate" [value]='progressBarConfig.value'></md-progress-bar>
      <div *ngFor='let question of questions | paginate: { itemsPerPage: 3, currentPage: p }' style="text-align: justify;">
        <md-card class='question-holder'>
          <div *ngIf="(question)['help']">
            <button [mdMenuTriggerFor]="menu" [style.left]='translation.leftPositionValue' md-button class='att' *ngIf=" translation.innerWidth > 765 && (question)['help'][translation.langKey][0] != ''">
              {{translation.currentLang.attachment}}
              <md-icon>attachment</md-icon>
            </button>
            <button [mdMenuTriggerFor]="menu" [style.left]='translation.leftPositionValue' md-mini-fab class='att' *ngIf=" translation.innerWidth <= 765 && (question)['help'][translation.langKey][0] != ''">
              <md-icon>attachment</md-icon>
            </button>

            <md-menu #menu="mdMenu">
              <a *ngFor=" let att of (question)['help'][translation.langKey]; let i = index" [href]="'https://panel.cmcserv.com/panel/files//'+att+'.pdf'"
                md-menu-item value='library' target="_blanck">
                {{translation.currentLang.attachment}} {{i+1}}
              </a>
            </md-menu>
          </div>
          <strong style='display:block' class="chooses">{{(question)['text'][translation.langKey]}}</strong>
          <md-radio-group class="example-radio-group">
            <md-radio-button class="example-radio-button" [checked]="(question)?.answer == 1" (change)='submitNewValue((question)?.id, 1, questions);'
              [value]='translation.currentLang.apply'>
              &nbsp; {{translation.currentLang.apply}}
            </md-radio-button>
            <md-radio-button class="example-radio-button" [checked]="(question)?.answer == 0" (change)='submitNewValue((question)?.id, 0, questions)'
              [value]='translation.currentLang.noApply'>
              &nbsp; {{translation.currentLang.noApply}}
            </md-radio-button>
          </md-radio-group>
        </md-card>
        <md-progress-bar color='primary' mode="determinate" [value]='progressBarConfig.value'></md-progress-bar>

      </div>

      <br>
      <pagination-controls [nextLabel]='translation.currentLang.next' [previousLabel]='translation.currentLang.prev' (pageChange)="p = $event"></pagination-controls>
      <div class="clearfix"></div>
    </form>
    <br>
    <button md-raised-button color="accent" [class.qBtn]="translation.innerWidth > 520" [routerLink]="['../results']">{{translation.currentLang.showResults}}
      <md-icon>assignment</md-icon>
    </button>
    <button style='position: relative; top: 2px;' md-raised-button [class.qBtn]="translation.innerWidth > 520" [class.saved]='saved'
      [class.saving]='saving' [class.waiting]='waiting' [class.error]='error' disabled>
      <span *ngIf='saved'>
        {{translation.currentLang.saved}}
        <md-icon style='position: relative;top: 5px;'>check_circle</md-icon>
      </span>
      <span *ngIf='saving'>
        {{translation.currentLang.saving}}
        <md-icon style='position: relative;top: 5px;'>cached</md-icon>
      </span>
      <span *ngIf='waiting'>
        {{translation.currentLang.waiting}}
        <md-icon style='position: relative;top: 5px;'>info</md-icon>
      </span>
      <span *ngIf='error'>
        {{translation.currentLang.error}}
        <md-icon style='position: relative;top: 5px;'>error</md-icon>
      </span>
    </button>
  </md-card>
</div>
