<md-card>
        <section>
            <div class="example-header padding-fix">
              
                <md-toolbar>
                  <div style="min-width:50px;">
                    <div>
                        <button md-mini-fab style=' margin-top: 4px' [mdMenuTriggerFor]="menu" [style.background]="selected == 0 ? '#8fb5c2' : '#429bdd' " [disabled]="selected == 0" >
                          <md-icon>more_vert</md-icon>
                        </button>
                        <md-menu #menu="mdMenu">
                          <button md-menu-item (click)='_updateMultiAttr("library");'>
                              <md-icon>library_add</md-icon>
                              <span>{{translation.currentLang.library}}</span>
                            </button>
                          <button md-menu-item (click)='_updateMultiAttr("favorite")'>
                            <md-icon>star</md-icon>
                            <span>{{translation.currentLang.favorite}}</span>
                          </button>
                          <button md-menu-item (click)='_updateMultiAttr("archive")'>
                            <md-icon>archive</md-icon>
                            <span>{{translation.currentLang.archive}}</span>
                          </button>
                          <!-- <button  md-menu-item class='hidden-sm-down hidden-xs' (click)='printMultiRegulation()'>
                              <md-icon>print</md-icon>
                              <span>{{translation.currentLang.print}}</span>
                          </button> -->
                        </md-menu>
                      </div>
                    </div>
                  <md-input-container floatPlaceholder="never" [style.text-align]='translation.textAlignValue'>
                    <input mdInput #filter [placeholder]="translation.currentLang.search">
                    <input mdInput style="display:none;">
                  </md-input-container>
                  <button type='button' (click)='_animateFilters()' md-button style='background-color: #1F4A6F; color: #FFF'>  <md-icon>filter_list</md-icon> {{translation.currentLang.filter}} </button>
                </md-toolbar>
            </div>
            
            <md-card class="filter col-xs-12 padding-fix" [@showFilters]='_filtersAnimationState' style='overflow: hidden'>
              <div class="example-header col-sm-4 col-xs-12">
                <md-input-container floatPlaceholder="never" [style.text-align]='translation.textAlignValue'>
                  <input mdInput #numberFilter [placeholder]="translation.currentLang.regNum">
                </md-input-container>
              </div>
              <div class="example-header col-sm-4 col-xs-12">
                <md-input-container floatPlaceholder="never" [style.text-align]='translation.textAlignValue'>
                  <input type="number" mdInput #yearFilter [placeholder]="translation.currentLang.regYear">
                </md-input-container>
              </div>
              <div class="example-header col-sm-4 col-xs-12">
                <md-input-container floatPlaceholder="never" [style.text-align]='translation.textAlignValue'>
                  <input mdInput #aNumberFilter [placeholder]="translation.currentLang.articleNum">
                </md-input-container>
              </div>
              <div class="clearfix"></div>
            </md-card>
            <div class="clearfix"></div>
    
            <form>
              <md-table #table [dataSource]="regulationsDataSource" mdSort>
                <ng-container cdkColumnDef="check">
                  <md-header-cell class='check-cell-header hidden-sm-down hidden-xs' *cdkHeaderCellDef> 
                      <md-checkbox (change)="selectAll()" [checked]="allSelected" ></md-checkbox>                  
                  </md-header-cell>
                  <md-cell *cdkCellDef="let row" class='check-cell-value hidden-sm-down hidden-xs'>
                    <md-checkbox #box (change)="selectRegulation(row, box )" [value]='row.id' [checked]="allSelected" ></md-checkbox>
                  </md-cell>
                </ng-container>
    
                <ng-container cdkColumnDef="type">
                    <md-header-cell class='hidden-sm-down hidden-xs regulation-type-cell-header' *cdkHeaderCellDef> {{translation.currentLang.regType}} </md-header-cell>
                    <md-cell class='hidden-sm-down hidden-xs regulation-type-cell-value' *cdkCellDef="let row"> {{row.type[translation.langKey]}} </md-cell>
                  </ng-container>
      
                  <ng-container cdkColumnDef="number">
                    <md-header-cell class='regulation-number-cell-header' *cdkHeaderCellDef> {{translation.currentLang.regNum}} </md-header-cell>
                    <md-cell *cdkCellDef="let row" class='regulation-number-cell-value'> {{row.number}} </md-cell>
                  </ng-container>
      
                  <ng-container cdkColumnDef="year">
                    <md-header-cell *cdkHeaderCellDef class='regulation-year-cell-header'> {{translation.currentLang.regYear}} </md-header-cell>
                    <md-cell *cdkCellDef="let row" class='regulation-year-cell-value'> {{row.year}} </md-cell>
                  </ng-container>
      
                  <!-- <ng-container cdkColumnDef="name">
                    <md-header-cell class='regulation-name-cell-header  hidden-xs' *cdkHeaderCellDef> {{translation.currentLang.regName}} </md-header-cell>
                    <md-cell *cdkCellDef="let row" [mdTooltip]='row.name' mdTooltipPosition='above' class='regulation-name-cell-value  hidden-xs'>
                      {{ translation.innerWidth > 780 ? row.name : ( (row.name.length > 25 ? row.name+'...' : row.name ) | slice:0:25 ) }}
                    </md-cell>
                  </ng-container> -->
      
                  <ng-container cdkColumnDef="keyword">
                    <md-header-cell class='regulation-name-cell-header  hidden-xs' *cdkHeaderCellDef> {{translation.currentLang.regName}} </md-header-cell>
                    <md-cell *cdkCellDef="let row" [mdTooltip]='row.keywords[translation.langKey]' mdTooltipPosition='above' class='regulation-name-cell-value  hidden-xs'>
                      {{ translation.innerWidth > 780 ? row.keywords[translation.langKey] : ( (row.keywords[translation.langKey].length > 25 ? ( (row.keywords[translation.langKey] | slice:0:25) + '...') : row.keywords[translation.langKey] )  ) }}
                    </md-cell>
                  </ng-container>

                  <ng-container cdkColumnDef="a_number">
                    <md-header-cell class='article-number-cell-header' *cdkHeaderCellDef> {{translation.currentLang.articleNum}} </md-header-cell>
                    <md-cell class='article-number-cell-value' *cdkCellDef="let row"> {{row.a_number[translation.langKey]}} </md-cell>
                  </ng-container>
      
    
                <ng-container cdkColumnDef="id">
                  <md-header-cell class='open_cell_header' *cdkHeaderCellDef> {{translation.currentLang.tools}} </md-header-cell>
                  <md-cell *cdkCellDef="let row" class='open_cell_value' >
                    <button md-mini-fab [routerLink]="'/user/regulation/' + row.id"  class="hidden-xs hidden-sm-down">
                    <span>{{translation.currentLang.open}}</span>
                    </button>
                    <button md-icon-button [mdMenuTriggerFor]="menu">
                          <md-icon>more_vert</md-icon>
                          <md-icon [style.color]="row.state == 'favorite' ? '#f5d168' : 'white'" class="hidden-sm-down hidden-xs" >star</md-icon>      
                    </button>
                    <md-menu #menu="mdMenu">
                      <button class='hidden-lg hidden-md' md-menu-item [routerLink]="'/user/regulation/' + row.id">
                          <md-icon>open_in_new</md-icon>
                          <span>{{translation.currentLang.open}}</span>
                        </button>
                      <button *ngIf='row.state != "favorite"' md-menu-item (click)='_updateAttr(row, "favorite")'>
                        <md-icon>star</md-icon>
                        <span>{{translation.currentLang.favorite}}</span>
                      </button>
                      <button *ngIf='row.state == "favorite"' md-menu-item (click)='_updateAttr(row, "library");'>
                        <md-icon>star</md-icon>
                        <span>{{translation.currentLang.unfavorite}}</span>
                      </button>
                      <button *ngIf='row.state != "archive"' md-menu-item (click)='_updateAttr(row, "archive")'>
                        <md-icon>archive</md-icon>
                        <span>{{translation.currentLang.archive}}</span>
                      </button>
                      <button *ngIf='row.state == "archive"' md-menu-item (click)='_updateAttr(row, "library");'>
                        <md-icon>archive</md-icon>
                        <span>{{translation.currentLang.unarchive}}</span>
                      </button>
                      <!-- <button md-menu-item class='hidden-sm-down hidden-xs' (click)='print(row.id)'>
                        <md-icon>print</md-icon>
                        <span>{{translation.currentLang.print}}</span>
                      </button> -->
                    </md-menu>
                  </md-cell>
                </ng-container>
    
    
                <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
                <md-row *cdkRowDef="let row; columns: displayedColumns;" [style.background]="row.state == 'favorite' ? 'rgb(255, 241, 201)' : 'white'" ></md-row>
              </md-table>
            </form>
    
            <div *ngIf="spinner">
              <md-spinner class="center-block"></md-spinner>
              <h3 style="text-align: center; color:#6586ab;"> {{translation.currentLang.loading}} </h3>
            </div>
    
            <div *ngIf="nothingToShow" class="example-no-results">
              <md-card class="text-center center-block">
                <md-icon style="font-size: 55px;">info</md-icon>
                <h3 style="text-align: center; color:#1F4A6F;"> {{translation.currentLang.noThingToShow}} </h3>
                <strong class="text-center center-block" style="text-align: center; color:gray"> 
                    {{translation.currentLang.youCanAddMore}}
                    <a md-raised-button [routerLink]="['/']">{{translation.currentLang.mainPage}}</a>
                  </strong>
              </md-card>
            </div>
            <div *ngIf="noResults" class="example-no-results" >
              <md-card class="text-center center-block">
                <md-icon style="font-size: 55px;">report</md-icon>
                <h3 style="text-align: center; color:#1F4A6F;"> {{translation.currentLang.searchResults}} </h3>
                <strong class="text-center center-block" style="text-align: center; color:gray"> 
                    {{translation.currentLang.youCanAddMore}}
                    <a md-raised-button [routerLink]="['/']">{{translation.currentLang.mainPage}}</a>
                  </strong>
    
              </md-card>
            </div>

          </section>

      <div class="clearfix"></div>
    </md-card>