<section id="contactUs">
  <header>
    <h2>{{lang.currentLang.contactUs}}</h2>
  </header>
  <div class="after-header">
      <form [formGroup]='msgForm' (ngSubmit)='submitForm(msgForm.value)' *ngIf="!sent">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label [style.float]="lang.textAlignValue">{{lang.currentLang.name}}</label>
              <input type="text" formControlName='name'>
            </div>
            <div class="form-group">
              <label [style.float]="lang.textAlignValue" >{{lang.currentLang.phoneNumber}}</label>
              <input type="text" formControlName='phone'>
            </div>
            <div class="form-group">
              <label [style.float]="lang.textAlignValue" >{{lang.currentLang.email}}</label>
              <input type="email" formControlName='email'>
            </div>
          </div>
          <div class="col-md-6">
            <label [style.float]="lang.textAlignValue" >{{lang.currentLang.note}}</label>
            <textarea formControlName='message' ></textarea>
            <button class="contact-btn">{{lang.currentLang.send}}</button>
          </div>
        </div>
      </form>
      <div style="text-align:center; margin: 0 auto;" *ngIf="sent">
          <md-icon style="color:green; font-size:40px;">beenhere</md-icon>
          <h4>{{lang.currentLang.sent}}</h4>
        </div>
  </div>
</section>
