section{
  min-height: 80vh;
}
header{
  text-align: center;
  background-color: #1586C5;
  padding: 20px;
  color: white;
}
.after-header{
  margin: 0 auto;
  text-align: center;
  width: 100%;
  margin-top: 70px;
}
.after-header form {
  width: 90%;
  margin: 0 auto;
  min-height: 400px;
  padding: 10px;
  padding-bottom: 65px;
}
.row{
  margin: 0;
}

.form-group input {
  width: 100%;
}
textarea{
  width: 100%;
  height: 80%;
  resize: none;
}
.contact-btn{
  margin-top: 10px;
  float: left;
  width: 100px;
  color: white;
  background-color: #1586C5;
  border: 0;
  font-size: 18px;
  height: 30px;
  box-shadow: 0px 5px 10px -1px gray;
}
