@font-face {
    font-family: 'GESS-Light';
    src: url(../../../assets/fonts/GESS-Light.otf);
}
@font-face {
    font-family: 'GESS-Medium';
    src: url(../../../assets/fonts/GESS-Medium.otf);
}
*{
  font-family: GESS-Medium;
}
.englishFont{
  font-family: serif;
}
