<div style=" height: 100%; width: 100%; background: white;" [style.direction]="translation.direction">
<cmc-navbar></cmc-navbar>
<cmc-first-sec></cmc-first-sec>
<cmc-second-sec></cmc-second-sec>
<cmc-third-sec></cmc-third-sec>
<cmc-fourth-sec></cmc-fourth-sec>
<cmc-footer></cmc-footer>
</div>