.mat-menu-panel{
  min-width: 212px !important;
}
.btn-default:hover {
    background-color: #73b8d2;
  }
  
  header {
    position: relative;
    background-image: url('../../../../assets/images/1.jpg');
    background-size: cover;
    background-position: 0% 20%;
    min-height: 60px;
    direction: ltr !important
  }
  
  div.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.644);
  }
  
  div.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    padding: 10px 0;
    color: #FFF;
    text-align: center
  }
  
  nav.navbar {
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%
  }
  
  md-input-container {
    width: 81%
  }
  
  .mat-input-element {
    color: #FFF;
    width: 100%
  }
  
  button.search {
    color: #FFF
  }
  
  div.logo {
    float: left;
    min-width: 118.875px;
    max-width: 118.875px;
    width: 118.875px;
    min-height: 50.359px;
    max-height: 50.359px;
    height: 50.359px
  }
  
  div.logo img {
    position: relative;
    margin: 18px;
    max-width: 200px;
  }
  
  ul.links {
    direction: rtl !important
  }
  
  @media only screen and (min-width: 768px) {
    ul.links {
      float: right
    }
  }
  
  a.active > li {
    /* background-color: #0c88c8; */
    border-radius: 0px;
    border-bottom: 2px solid ; 
  }
  .mItem:hover {
    /* background-color: #0c88c8; */
    border-radius: 0px; 
    border-bottom: 2px solid ;     
  }
  
 a.active > li :hover , a.active > li :active , a.active > li :focus  {
      /* background-color: #0c88c8; */
    /* border-bottom: 2px solid ;  */
    
  }
    
  ul li.active a {
    color: #FFF;  
  }
  
  nav {
    z-index: 1;
    position: relative;
    border-radius: 0
  }
  
  .navbar-right,
  .navbar-nav {
    margin: 0 !important;
    padding: 0 !important
  }
  
  .option-button {
    color: #FFF;
    padding: 0 !important
  }
  
  .option-button button {
    padding: 0 !important
  }
  
  md-card.notifications {
    position: absolute;
    z-index: 999;
    width: 300px;
    max-width: 90vh;
    overflow-x: hidden;
    left: calc(100% - 320px);
    top: calc(100% - 200px);
  }
  
  md-card.notifications ul {
    padding: 0;
    list-style: none;
    margin: 0;
  }
  
  md-card.notifications li {
    padding: 5px;
    box-shadow: 0px 2px 7px -5px rgba(0,0,0,0.6)
  }
  
  md-card.notifications h6 {
    margin: 0;
    font-weight: bold;
    font-size: 13px;
  }
  
  md-card.notifications p {
    margin-top: 2px;
    margin-bottom: 1px;
    font-size: 13px;
    font-style: italic;
    color: #555;
  }
  
  md-card.notifications span {
    display: block;
    text-align: right;
    font-size: 10px;
    color: #666;
    font-weight: bold;
  }
  
  .search-input {
    width: 60%;
    float: left
  }
  
  .navbar-header {
    float: right
  }
  
  .navbar-header button {
    background-color: #FFF
  }
  
  
  .mat-form-field-underline {
    height: 2px !important;
    background: #fff !important;
  }


ul {
    margin-top: 25px;
}

ul li a{
    color: white;
    text-decoration: none;
}

ul li a:hover{
    color: white;
    text-decoration: none;
}

nav ul li {display: inline-block; padding: 8px 10px; text-align: center; margin-top: -27px; height: 35px;}

nav{
  height: 63px;
}

.mItem{
  padding-top: 5px !important;
  min-width: 105px !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
  margin-right: 5px;
  margin-left: 5px;
}