<header>

  <div class='overlay'>
    <nav class='top-nav options' [style.direction]="translation.direction">
      <div class="container-fluid">
        <div class='logo' [style.float]="translation.menuFloatValue">
          <a routerLink='/'>
            <img [src]='logoPath' alt='logo'>
          </a>
        </div>
        <!-- nav optons for large screens  -->
        <div *ngIf="translation.innerWidth >= 800" class='holder padding-fix'>
          <ul class='padding-fix' [style.float]="translation.floatValue">
            <a *ngFor='let menuItem of menuItems' [routerLink]='(menuItem)?.routerLink' routerLinkActive='active'>
              <li class="mItem">
                <a>{{ translation.currentLang[(menuItem)?.key] }}</a>
              </li>
            </a>
            <li>
              <button md-icon-button [mdTooltip]="translation.currentLang.toSearchPage"  routerLink="./search">
                <md-icon style='color:#FFF' >search</md-icon>
              </button>
            </li>
              <!-- no help page for now -->
           
          <!--<li>
               <button md-icon-button [mdTooltip]="translation.currentLang.help" color="accent" routerLink="./help">
                <md-icon style='color:#FFF'>help</md-icon>
              </button>
            </li> -->
            <li>
              <button md-icon-button color="accent" (click)="openNotifications()">
                <md-icon style='color:#FFF'>notifications</md-icon>
              </button>
            </li>
            <li style='margin-right: 10px;'>
              <button md-icon-button [mdTooltip]="translation.currentLang.settings" color="accent" [mdMenuTriggerFor]="settings">
                <md-icon style='color:#FFF'>settings</md-icon>
              </button>
            </li>
            <md-menu #settings="mdMenu">
              <button md-menu-item (click)="changeBackground()">
                <md-icon>brightness_medium</md-icon>
                {{translation.currentLang.changeBackground}}
              </button>
              <button md-menu-item (click)='changeLang()'>
                <md-icon>language</md-icon>
                <span>{{translation.currentLang.langBtn}}</span>
              </button>
              <button md-menu-item (click)='changePassword()'>
                <md-icon>settings_backup_restore</md-icon>
                <span>{{translation.currentLang.resetpasswrd}}</span>
              </button>
              <button md-menu-item (click)='_logout()'>
                <md-icon>exit_to_app</md-icon>
                <span> {{translation.currentLang.userLogout}} </span>
              </button>
            </md-menu>
            <!-- <li  *ngIf='!auth.isLoggedIn()' >
                    <button md-raised-button color="accent" (click)="openDialog()" >
                      <md-icon style='color: #FFF'>account_circle</md-icon> <span>{{translation.currentLang.userLogin}}</span>
                    </button>
            </li> -->
          </ul>
        </div>
        
        
        
        <!-- nav optons for small screens  -->

        <div *ngIf="translation.innerWidth < 800">
          <button md-icon-button [mdTooltip]="translation.currentLang.settings" color="accent" [mdMenuTriggerFor]="mobile" style="margin-top: 15px; "
            [style.float]="translation.floatValue">
            <md-icon>more_vert</md-icon>
          </button>
          <md-menu #mobile="mdMenu">
            <button md-menu-item *ngFor='let menuItem of menuItems' [routerLink]='(menuItem)?.routerLink' routerLinkActive='active'>
              <md-icon>label</md-icon>
              <span>{{ translation.currentLang[(menuItem)?.key] }}</span>
            </button>
            <button md-menu-item color="accent" routerLink="./search">
                <md-icon>search</md-icon>
                <span>{{translation.currentLang.toSearchPage  }}</span>
            </button>
            <button md-menu-item color="accent" (click)="openNotifications()">
              <md-icon>notifications</md-icon>
              <span>{{translation.currentLang.notifications}}</span>
            </button>

            <!-- no help page for now -->            
            <!-- <button md-menu-item routerLink="./help">
              <md-icon>help</md-icon>
              <span>{{translation.currentLang.help}}</span>
            </button> -->
            
            <button md-menu-item (click)='changeLang()'>
              <md-icon>language</md-icon>
              <span>{{translation.currentLang.langBtn}}</span>
            </button>
            <button md-menu-item (click)='_logout()'>
              <md-icon>exit_to_app</md-icon>
              <span> {{translation.currentLang.userLogout}} </span>
            </button>
          </md-menu>
          <!-- <ul class='padding-fix'>
              <li class='option-button' style='margin-right: 10px;'>
                <button md-mini-fab  mdTooltip="{{langBtn}}" color="accent" (click)='changeLang()'>
                  <md-icon style='color:#FFF'> <span style="font-size: 15px; position: relative;top: -6px;">{{langBtn}}</span>  </md-icon> 
                </button>
              </li>
              <li mdTooltip="{{translation.currentLang.notifications}}" >
                <button md-mini-fab  color="accent" (click)='_animateNotifications()'>
                  <md-icon style='color:#FFF'>notifications</md-icon>
                </button>
              </li>
              <li class='option-button' *ngIf='auth.isLoggedIn()' mdTooltip="{{translation.currentLang.userLogout}}" >
                <button md-mini-fab  color="accent" (click)='_logout()'>
                    <md-icon style='color:#FFF'>exit_to_app</md-icon> 
                </button>
              </li>
            </ul> -->
        </div>
        <div class='clearfix'></div>
      </div>
    </nav>
    <!-- <nav class='navbar'>
        <div class='container-fluid'>
          <div class='navbar-header'>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
              >
                <span class="sr-only">Toggle navigation</span>
                <md-icon>menu</md-icon>
            </button>
          </div>
          <div class='col-md-3 col-sm-8 navbar-left' style="max-width: 80%;">
            <form>
              <md-input-container floatPlaceholder="never" [style.text-align]='translation.textAlignValue' class='search'>
                <input mdInput [placeholder]="translation.currentLang['search']" [style.direction]="translation.direction"#searchText [mdAutocomplete]="auto" [formControl]="stateCtrl" (keyup)="canSearch(searchText.value);">
                <md-autocomplete #auto="mdAutocomplete">
                  <md-option *ngFor="let state of filteredStates | async" [value]="state[translation.langKey]" (click)="search(state[translation.langKey]); searchText.value='';">
                    <small>{{ state[translation.langKey] }}</small>
                  </md-option>
                </md-autocomplete>
              </md-input-container>
              <button [style.float]="translation.floatValue" style="margin-top:10px;"  md-mini-fab (click)="search(searchText.value); searchText.value=''; "[disabled]="isDisabled" >
                    <md-icon style='font-family: Material Icons'>search</md-icon>
              </button>
            </form>
          </div>
          <div class="">
            <div class='collapse navbar-collapse padding-fix' id="bs-example-navbar-collapse-1">
              <ul class='nav navbar-nav links'>
                <li [style.float]="translation.menuFloatValue" *ngFor='let menuItem of menuItems' routerLinkActive='active'>
                  <a [href]='menuItem?.href' [routerLink]='(menuItem)?.routerLink'>{{(menuItem)?.title}}</a>
                </li>
              </ul>
            </div>
          </div>
          <div class='clearfix'></div>
        </div>
      </nav> -->
  </div>
</header>
