<div class="container">
  <md-card class="col-md-8 center-block" style="text-align: center; margin-top:50px; min-height: 350px;  text-anchor: middle;">

    <md-icon color="accent" style="height: 100px; width: 100px; font-size:100px;"> mood </md-icon>

    <h1 color="primary"> {{translation.currentLang.page404}} </h1>
    <span style="color: gray"> {{translation.currentLang.dontBeSad}} </span>

    <a md-raised-button [routerLink]="['/']">{{translation.currentLang.mainPage}}</a>

  </md-card>
</div>