.top-info {
  position: relative;
  background-color: #0084c8;
}


.logo img {
  width: 40%;
}

.bar {
  background-color: #0084c8;
  height: 2px;
  margin: 5px 0;
}

.href {
  float: right; 
  font-size: 12px; 
  color: #333;
  margin-top: 20px;
  text-align: right
}

.text-center {
  text-align: center
}

.regulation-header {
  display: inline-block;
  text-decoration: underline;
  color: #444;
  margin: 0 0 5px 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
}

.regulation-info {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #333
}

.meta {
  text-align: center
}

.meta strong {
  display: block;
  font-weight: 100;
  font-size: 16px;
}

.meta span {
  font-size: 13px;
  color: #555;
  font-style: italic;
}

.page-break {
  page-break-after: always;
}


.over-print{
  position: absolute;
  z-index: 10000 ; 
  width : 100% ;
  height: 100%;
  background: #fff;
}

@media print {
  

#regulationRef{
  -webkit-print-color-adjust: exact;  
  background:  #fff !important;
}

.over-print{
  display: none;
}

.top-info {
  position: relative;
  box-shadow: inset 0 0 0 1000px  #0084c8 !important;
  background:  #0084c8 !important;
  
}


.logo img {
  width: 40%;
}

.bar {
  box-shadow: inset 0 0 0 1000px  #0084c8;
  background:  #0084c8 !important;  
  height: 2px;
  margin: 5px 0;
}

.href {
  float: right; 
  font-size: 12px; 
  color: #333;
  margin-top: 20px;
  text-align: right
}

.text-center {
  text-align: center
}

.regulation-header {
  display: inline-block;
  text-decoration: underline;
  color: #444;
  margin: 0 0 5px 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
}

.regulation-info {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #333
}

.gray-div{
  box-shadow: inset 0 0 0 1000px  #333;  
  background:   #333 !important;  
}


.card-title{
  color:#0084c8 !important;  
}
}


.gray-div{
  background-color: #333;
}