<div class="over-print" >

    <div style="margin-top : 12%;">
        <md-spinner class="center-block"></md-spinner>
        <h3 style="text-align: center; color:#6586ab;"> {{translation.currentLang.loading}} </h3>
    </div>

</div>
<main class='container' #regulationRef id="regulationRef">

  <div class="bar"></div>

  <section *ngFor='let regulation of multiRegulations'>
  
    <nav class='top-info'>
      <div class="logo col-xs-5 gray-div">
        <img style="float: left;" src='http://localhost:4200/assets/images/logo-whitt.png' alt='Regypedia'>
      </div>
      <div class='clearfix'></div>
    </nav>

    <h1 class='text-center'>
      <span class='regulation-header'>{{regulation.regulation.name[this.translation.langKey]}}</span>
    </h1>
    <section class='regulation-info'>
      <div class="meta col-xs-3">
        <strong>{{translation.currentLang['articleNum']}}: </strong><span>{{regulation.regulation.number}}</span>
      </div>
      <div class="meta col-xs-3">
        <strong>{{translation.currentLang['regYear']}}: </strong><span>{{regulation.regulation.year}}</span>
      </div>
      <div class="meta col-xs-3">
        <strong>{{translation.currentLang['regNum']}}: </strong><span>{{regulation.regulation.a_number[translation.langKey]}}</span>
      </div>
      <div class="meta col-xs-3">
        <strong>{{translation.currentLang['regType']}}: </strong><span>{{regulation.regulation.type[translation.langKey]}}</span>
      </div>
      <div class="clearfix"></div>
    </section>

    <section class="regulation-text">
        <md-card>
            <h4 class="card-title"> {{ translation.currentLang.text}} </h4>
                  <p [style.textAlign]="translation.langKey === 'ar' ? 'right' : 'left' " style='padding: 15px;'>
                      {{ translation.langKey == 'ar' ? (regulation)?.text_text?.ar : (regulation)?.text_text?.en}}
                  </p>
          </md-card>
          <div class='clearfix'></div>
          <hr>
          <md-card>
              <h4 class="card-title"> {{translation.currentLang.translatedText}} </h4>
              
                  <p [style.textAlign]="translation.langKey === 'ar' ? 'left' : 'right'" style='padding: 15px;' >
                    {{ translation.langKey == 'en' ? (regulation)?.text_text?.ar : (regulation)?.text_text?.en}}
                  </p>        
          </md-card>

    </section>


    <div  class='page-break' ></div>
  </section>

</main>