<div class="container row">

  <a routerLink="../library" class="col-md-4">
    <md-card class="card-mid-color">
      <img class="col-img" src="./assets/library.png" alt="">
      <h3>{{lang.currentLang.toLibraryPage}}</h3>
    </md-card>
  </a>
  <a routerLink="../search" class="col-md-4">
    <md-card class="card-mid-color">
      <img class="col-img" src="./assets/search.png" alt="">
      <h3>{{lang.currentLang.toSearchPage}}</h3>      
    </md-card>
  </a>
  <a routerLink="../questions" class="col-md-4">
    <md-card class="card-mid-color">
      <img class="col-img" src="./assets/questions.png" alt="">
      <h3>{{lang.currentLang.toQuestionsPage}}</h3>
    </md-card>
  </a>

</div>