md-card{
    margin-top: 10px;   
    opacity: 0.85;    
}
md-card:hover{
    opacity: 1;
    
}
.col-img{
    max-width: 70%;
    margin: 0 15%;
}

.row{
    margin: 0 auto;
    margin-top: 10%
}

col-md-4{
    padding: 20px;
}

h3{
    margin-top: 8px;
    text-align: center;
}

a{
    text-decoration: none;
}