<section *ngIf='regulation404'>
  <h1>404 Error - Regulation not Found, redirecting...</h1>
</section>

<secion>
  <!-- <app-user-navbar></app-user-navbar> -->
  <main class="row">
    <div class="col-md-9">
      <md-card class="card-mid-color" *ngIf="!regulation">

        <md-spinner class="center-block"></md-spinner>
        <h3 style="text-align: center; color:#6e9bc5;"> {{translation.currentLang.loading}} </h3>
      </md-card>

      <md-card class="card-mid-color" *ngIf="regulation">
        <md-card style="background: #6ba5de; color:white; text-align: justify;">
          <h4>{{(regulation)?.regulation.name[translation.langKey]}}</h4>
        </md-card>
        <md-card class='text-center header' style="background: #546677">
          <div class='regulation-meta'>
            <div class="meta main-regulation col-xs-3">
              <strong class="card-title">{{translation.currentLang.regType}}: </strong>
              <span>{{(regulation)?.regulation.type[translation.langKey]}}</span>
            </div>
            <div class="meta main-regulation col-xs-3">
              <strong class="card-title">{{translation.currentLang.regYear}}: </strong>
              <span>{{(regulation)?.regulation.year}}</span>
            </div>
            <div class="meta main-regulation col-xs-3">
              <strong class="card-title">{{translation.currentLang.regNum}}: </strong>
              <span>{{(regulation)?.regulation.number}}</span>
            </div>
            <div class="meta main-regulation col-xs-3">
              <strong class="card-title">{{translation.currentLang.articleNum}}: </strong>
              <span>{{(regulation)?.regulation.a_number[translation.langKey]}}</span>
            </div>
            <div class="meta main-regulation col-xs-3">
              <strong class="card-title">{{translation.currentLang.textStatus}}: </strong>
              <span *ngIf="(regulation)?.regulation.article_text_status">{{(regulation)?.regulation.article_text_status[translation.langKey]}}</span>
            </div>

            <div [style.float]="translation.floatValue">
              <button md-raised-button *ngIf="currState !== '' " [mdMenuTriggerFor]="menu">
                {{translation.currentLang[currState]}}
                <md-icon style="margin-left:10px; margin-right:10px;">arrow_drop_down</md-icon>
              </button>
              <button md-raised-button *ngIf="currState === '' " [mdMenuTriggerFor]="menu">
                {{translation.currentLang.wannaAdd}}
                <md-icon style="margin-left:10px; margin-right:10px;">add_box</md-icon>
              </button>
            </div>
            <div class="clearfix"></div>

          </div>
        </md-card>
        <div class='clearfix'></div>

        <md-card>
          <h4 class="card-title"> {{ translation.currentLang.text}} </h4>
          <p [style.textAlign]="translation.langKey === 'ar' ? 'right' : 'left' " style='padding: 15px;'>
            {{ translation.langKey == 'ar' ? (regulation)?.regulation.text_text?.ar : (regulation)?.regulation.text_text?.en}}
          </p>
        </md-card>
        <div class='clearfix'></div>

        <md-card>
          <h4 class="card-title"> {{translation.currentLang.translatedText}} </h4>

          <p [style.textAlign]="translation.langKey === 'ar' ? 'left' : 'right'" [style.direction]="translation.langKey === 'ar' ? 'ltr' : 'rtl'"
            style='padding: 15px;'>
            {{ translation.langKey == 'en' ? (regulation)?.regulation.text_text?.ar : (regulation)?.regulation.text_text?.en}}
          </p>
        </md-card>
        <div class='clearfix'></div>

        <md-card *ngIf="(regulation)?.penalty !== null">
          <div *ngIf=" (regulation)?.penalty.length > 0 ">
            <h4 class="card-title"> {{translation.currentLang.penalties}} </h4>
            <p *ngFor=" let pen of (regulation)?.penalty"> {{pen[translation.langKey]}} </p>
          </div>
        </md-card>

        <div *ngIf="(regulation)?.regulation.text">
          <md-card style="background: inherit;" *ngIf="(regulation)?.regulation.text.length > 1 && (regulation)?.regulation.text[0] !== '' && (regulation)?.regulation.text[1] !== ''">
            <button [mdMenuTriggerFor]="attach" md-raised-button style="color:#1F4A6F">
              {{translation.currentLang.attachment}}
              <md-icon>attachment</md-icon>
            </button>
          </md-card>
        </div>

        <md-menu #attach="mdMenu">
          <a *ngFor=" let att of (regulation)?.regulation.text; let i = index" [href]="'https://panel.cmcserv.com/panel/files//'+att+'.pdf'"
            md-menu-item value='library' target="_blanck">
            {{i == 0 ? 'English' : 'عربي' }}
          </a>
        </md-menu>


        <md-card *ngIf="dataSource" class="example-no-results" [style.display]="dataSource._exampleDatabase.data.length === 0 ? 'none' : ''">
          <h4 class="card-title">{{translation.currentLang.relatedReg}}</h4>

          <md-table #table [dataSource]="dataSource">
              <ng-container cdkColumnDef="check">
                  <md-header-cell class='check-cell-header hidden-sm-down hidden-xs' *cdkHeaderCellDef> 
                      <md-checkbox (change)="selectAll()" [checked]="allSelected" ></md-checkbox>                  
                  </md-header-cell>
                  <md-cell *cdkCellDef="let row" class='check-cell-value hidden-sm-down hidden-xs'>
                    <md-checkbox #box (change)="selectRegulation(row, box )" [value]='row.id' [checked]="allSelected" ></md-checkbox>
                  </md-cell>
                </ng-container>
    
                <ng-container cdkColumnDef="type">
                    <md-header-cell class='hidden-sm-down hidden-xs regulation-type-cell-header' *cdkHeaderCellDef> {{translation.currentLang.regType}} </md-header-cell>
                    <md-cell class='hidden-sm-down hidden-xs regulation-type-cell-value' *cdkCellDef="let row"> {{row.type[translation.langKey]}} </md-cell>
                  </ng-container>
      
                  <ng-container cdkColumnDef="number">
                    <md-header-cell class='regulation-number-cell-header' *cdkHeaderCellDef> {{translation.currentLang.regNum}} </md-header-cell>
                    <md-cell *cdkCellDef="let row" class='regulation-number-cell-value'> {{row.number}} </md-cell>
                  </ng-container>
      
                  <ng-container cdkColumnDef="year">
                    <md-header-cell *cdkHeaderCellDef class='regulation-year-cell-header'> {{translation.currentLang.regYear}} </md-header-cell>
                    <md-cell *cdkCellDef="let row" class='regulation-year-cell-value'> {{row.year}} </md-cell>
                  </ng-container>
      
                  <!-- <ng-container cdkColumnDef="name">
                    <md-header-cell class='regulation-name-cell-header  hidden-xs' *cdkHeaderCellDef> {{translation.currentLang.regName}} </md-header-cell>
                    <md-cell *cdkCellDef="let row" [mdTooltip]='row.name' mdTooltipPosition='above' class='regulation-name-cell-value  hidden-xs'>
                      {{ translation.innerWidth > 780 ? row.name : ( (row.name.length > 25 ? row.name+'...' : row.name ) | slice:0:25 ) }}
                    </md-cell>
                  </ng-container> -->
      
                  <ng-container cdkColumnDef="name">
                    <md-header-cell class='regulation-name-cell-header  hidden-xs' *cdkHeaderCellDef> {{translation.currentLang.regName}} </md-header-cell>
                    <md-cell *cdkCellDef="let row" [mdTooltip]='row.keywords[translation.langKey]' mdTooltipPosition='above' class='regulation-name-cell-value  hidden-xs'>
                      {{ translation.innerWidth > 780 ? row.keywords[translation.langKey] : ( (row.keywords[translation.langKey].length > 25 ? ( (row.keywords[translation.langKey] | slice:0:25) + '...') : row.keywords[translation.langKey] )  ) }}
                    </md-cell>
                  </ng-container>

                  <ng-container cdkColumnDef="a_number">
                    <md-header-cell class='article-number-cell-header' *cdkHeaderCellDef> {{translation.currentLang.articleNum}} </md-header-cell>
                    <md-cell class='article-number-cell-value' *cdkCellDef="let row"> {{row.a_number[translation.langKey]}} </md-cell>
                  </ng-container>

            <ng-container mdColumnDef="tools">
              <md-header-cell *mdHeaderCellDef> {{ translation.currentLang.tools }} </md-header-cell>
              <md-cell *mdCellDef="let element">
                <!-- <button md-icon-button [routerLink]="'/user/regulation/' + element.id">
                  <span style="font-size: 13px; color: #1F4A6F" [mdTooltip]="translation.currentLang.open" >
                  <md-icon>folder_open</md-icon> 
                  </span>
                </button> -->
                <button md-mini-fab [routerLink]="'/user/regulation/' + element.id">
                  <span>{{translation.currentLang.open}}</span>
                </button>
              </md-cell>
            </ng-container>

            <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
            <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
          </md-table>

          <div *ngIf="spinner">
            <md-spinner class="center-block"></md-spinner>
            <h3 style="text-align: center; color:#6586ab;"> {{translation.currentLang.loading}} </h3>
          </div>
          <div *ngIf="dataSource" class="example-no-results" [style.display]="dataSource._exampleDatabase.data.length === 0 ? '' : 'none'">
            <md-card class="text-center center-block">
              <md-icon style="font-size: 55px;">info</md-icon>
              <h3 style="text-align: center; color:#1F4A6F;"> {{translation.currentLang.noThingToShow}} </h3>
            </md-card>
          </div>
        </md-card>


      </md-card>
    </div>

    <div class="col-md-3">

      <md-card style='margin-bottom: 15px' class="card-mid-color">

        <div class='text-center header'>
          <h4>{{translation.currentLang.tools}}</h4>
        </div>


        <h5 class="card-title">
          {{translation.currentLang.CompliancePlan}}
        </h5>
        <textarea style='margin-bottom: 10px; min-height:240px;' class="col-md-12" #note (blur)="saveNote()" placeholder='{{translation.currentLang.enterCompliancePlan}}'
          [value]="currNote">
        </textarea>
        <div class="clearfix"></div>

        <md-form-field class='col-xs-6' style='padding: 0; height: 0'>
          <input mdInput [hidden]='true' [mdDatepicker]="picker" [min]="minDate" placeholder="Choose a date">
          <md-datepicker touchUi="true" #picker (selectedChanged)="updateNotificationDate($event)"></md-datepicker>
        </md-form-field>

        <div class="clearfix"></div>


        <h5 class="card-title">
          {{translation.currentLang.notificationDate}}
        </h5>
        <button class="col-md-12" style='margin-bottom: 10px' md-raised-button (click)="picker.open()">
          <span *ngIf="currDate === '01-01-0001' || currDate === '' ">{{translation.currentLang.choose_date}}</span>
          <span *ngIf="currDate !== '01-01-0001' && currDate !== ''">{{currDate}}</span>
          <md-icon>date_range</md-icon>
        </button>


        <div class="clearfix"></div>

        <button md-raised-button class="col-md-12" [class.saved]='saved' [class.saving]='saving' [class.waiting]='waiting' [class.error]='error'
          disabled>
          <span *ngIf='saved'>
            {{translation.currentLang.saved}}
            <md-icon style='position: relative;top: 5px;'>check_circle</md-icon>
          </span>
          <span *ngIf='saving'>
            {{translation.currentLang.saving}}
            <md-icon style='position: relative;top: 5px;'>cached</md-icon>
          </span>
          <span *ngIf='waiting'>
            {{translation.currentLang.waiting}}
            <md-icon style='position: relative;top: 5px;'>info</md-icon>
          </span>
          <span *ngIf='error'>
            {{translation.currentLang.error}}
            <md-icon style='position: relative;top: 5px;'>error</md-icon>
          </span>
        </button>
        <!-- 
        <button md-raised-button *ngIf="currState !== '' " [mdMenuTriggerFor]="menu" class="col-md-12">
            {{translation.currentLang[currState]}} <md-icon style="margin-left:10px; margin-right:10px;">arrow_drop_down</md-icon>
          </button>
        <button md-raised-button *ngIf="currState === '' " color="accent" [mdMenuTriggerFor]="menu" class="col-md-12">
            {{translation.currentLang.wannaAdd}} <md-icon style="margin-left:10px; margin-right:10px;">add_box</md-icon> 
          </button> -->

        <md-menu class='col-xs-12' #menu="mdMenu">
          <button class='col-xs-12' md-menu-item value='library' (click)="_updateAttr('library'); currState='library'">
            <md-icon>library_books</md-icon>
            <span>{{translation.currentLang.library}}</span>
          </button>
          <button class='col-xs-12' md-menu-item value='favorite' (click)="_updateAttr('favorite'); currState='favorite'">
            <md-icon>star</md-icon>
            <span>{{translation.currentLang.favorite}}</span>
          </button>
          <button class='col-xs-12' md-menu-item value='archive' (click)="_updateAttr('archive'); currState='archive'">
            <md-icon>archive</md-icon>
            <span>{{translation.currentLang.archive}}</span>
          </button>
          <div class="clearfix"></div>
        </md-menu>

        <div class='clearfix'></div>

      </md-card>

      <!-- <md-card>
        <div class='text-center header'>
          <h4>{{translation.currentLang.relatedReg}}</h4>
        </div>
        <div class='related-regulations' matchHeightMax='match'>
          <div class='related-regulation match' *ngFor='let relatedRegulation of (regulation)?.related_regulations'>
            <div class='text-center'>
              <h5>{{relatedRegulation.name[translation.langKey]}}</h5>
            </div>
            <div class='meta col-sm-6 col-xs-12'>
              <strong>{{translation.currentLang.regNum}}: </strong> <span>{{relatedRegulation.number}}</span>
            </div>
            <div class='meta col-sm-6 col-xs-12'>
              <strong>{{translation.currentLang.regYear}}: </strong> <span>{{relatedRegulation.year}}</span>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </md-card> -->
    </div>
    <div class='clearfix'></div>
  </main>
</secion>
