main {
    padding: 35px 0
}

.related-regulation {
    margin: 15px 0;
    padding: 10px 5px;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.1);
}

.related-regulation h5 {
    display: inline-block;
    color: #444;
    border-bottom: 1px solid #EEE;
    padding: 0px 15px 4px 15px;
    margin: 0 0 5px 0;
    font-size: 14px;
    font-weight: bold;
}

.meta strong {
    font-weight: 100;
    font-size: 17px;
}
.main-regulation strong {font-size: 17px}
.meta span {
    font-size: 17px;
    color: #555;
    font-style: italic;
}
.main-regulation span {font-size: 17px ; color: white}

.regulation-body {
    margin-top: 15px
}
.regulation-image{
    height: 100%
}
button span {
    position: relative;
    right: 4px;
    top: 1px;
}

md-icon {
    font-family: 'Material Icons';
    font-size: 22px;
}

input , button {
    height: 42.5px;
}

/* to hide the extra text field*/
.mat-form-field {
    width: 0px;
}



.saving {
    background-color: #FF0 !important; color: #FFF
  }

  .error {
    background-color: #F00 !important; color: #FFF
  }

  .saved {
    background-color: #48c983 !important; color:#fff;
  }

  .waiting {
    background-color: #CCC !important; color: #FFF
  }