<section id="mainPage" style="margin-top: 75px;">
  <div class="text-content">
    <h1>{{(secText[lang.langKey])?.name}}</h1>
    <p #text [innerHTML]="secText[lang.langKey]?.body" style="display: none;" >  </p>
    <p style="max-width: 78%;" >{{text.textContent}}</p>
   <!-- <button md-raised-button color="primary" class="first-section-btn" data-toggle="modal" data-target="#registerModel">{{lang.currentLang.learnMore}}</button> -->
   <button md-raised-button color="primary" class="first-section-btn" (click)="demo()" >{{lang.currentLang.demoReq}}</button>
  </div>
</section>
<div>
    <div *ngIf="!textloaded" id="overlay" >
        <div id="load">
            <div>G</div>
            <div>N</div>
            <div>I</div>
            <div>D</div>
            <div>A</div>
            <div>O</div>
            <div>L</div>
          </div>
        </div>
</div>