footer{
  padding: 80px 0px;
  background-color: #1586C5;
}
.row{
  margin: 0;
}
.footer-img{
  width: 100%;
  min-width: 100px;
  max-width: 250px;
}
ul{
  text-align: center;
  list-style: none;
}
li{
  width: 85px;
  margin-left: 20px;
  margin-top: 14px;
  display: inline-block;
}
ul li a {
  text-decoration: none;
  color: white;
}
.icons-div{
  display: inline-block;
}
.footer-icon{
  min-width: 35px;
  width: 80%;
  max-width: 45px;
  display: flex;
}
