<header [class.fullScreen]='!showSection()'>
  <md-card class="notifications custom-scroll" [@showNotifications]='_notificationAnimationState'>
    <ul>
      <li *ngFor='let notification of notifications'>
        <h6>{{(notification)?.regulation.name | parseObj: 'en'}}</h6>
        <p>{{(notification)?.note}}</p>
        <span>{{(notification)?.notifications}}</span>
      </li>
      <!-- END TEST -->
    </ul>
  </md-card>
  <div class='overlay'>
    <nav class='top-nav options'>
      <div class="container-fluid">
        <div class='logo navbar-left'>
          <a routerLink='/'>
            <img [src]='logoPath' alt='logo'>
          </a>
        </div>
        <div class='holder padding-fix'>
          <ul class='padding-fix'>
            <li class='option-button' style=' margin-right: 10px;'>
              <button md-mini-fab mdTooltip="{{langBtn}}" color="accent" (click)='changeLang()'>
                <md-icon style='color:#FFF'> <span style="font-size: 15px;position: relative;top: -6px;">{{langBtn}}</span>  </md-icon> 
              </button>
            </li>
            <li mdTooltip="{{translation.currentLang.notifications}}">
              <button md-mini-fab color="accent" (click)='_animateNotifications()'>
                <md-icon style='color:#FFF'>notifications</md-icon>
              </button>
            </li>
            <li class='option-button' style='margin-right: 20px' *ngIf='auth.isLoggedIn()' mdTooltip="{{translation.currentLang.profile}}">
              <button md-mini-fab color="accent" (click)='viewProfile()'>
                    <md-icon style='color:#FFF'>account_circle</md-icon> 
                </button>
            </li>
            <li class='option-button' *ngIf='auth.isLoggedIn()' mdTooltip="{{translation.currentLang.userLogout}}">
              <button md-mini-fab color="accent" (click)='_logout()'>
                  <md-icon style='color:#FFF'>exit_to_app</md-icon> 
              </button>
            </li>
            <li class='option-button' *ngIf='!auth.isLoggedIn()' mdTooltip="{{translation.currentLang.userLogin}}">
              <button md-mini-fab color="accent" (click)="openDialog()">
                <md-icon style='color: #FFF'>account_circle</md-icon>
              </button>
            </li>
          </ul>
        </div>
        <div class='clearfix'></div>
      </div>
    </nav>
    <div class="caption" *ngIf='!showSection()'>
      <h3>
        <span class='header-title-2'>الموسوعة القانونية</span>
      </h3>
      <h1>
        <span class='header-title-1'>القانون و النظام</span>
      </h1>
      <p class='decription'>
        القانون هو علم اجتماعي, موضوعه الانسان و سلوكه مع نظائره, اعماله و ردود افعاله.
      </p>
    </div>
    <nav class='navbar' *ngIf='auth.isLoggedIn()'>
      <div class='container-fluid'>
        <div class='navbar-header'>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <md-icon>menu</md-icon>
          </button>
        </div>
        <div class='col-md-3 col-sm-8 navbar-left' style="max-width: 80%;">
          <form>
            <md-input-container floatPlaceholder="never" [style.text-align]='translation.textAlignValue' class='search'>
              <input mdInput [placeholder]="translation.currentLang['search']" [style.direction]="translation.direction" #searchText [mdAutocomplete]="auto"
                [formControl]="stateCtrl" (keyup)="canSearch(searchText.value);">
              <md-autocomplete #auto="mdAutocomplete">
                <md-option *ngFor="let state of filteredStates | async" [value]="state[translation.langKey]" (click)="search(state[translation.langKey])">
                  <small>{{ state[translation.langKey] }}</small>
                </md-option>
              </md-autocomplete>
            </md-input-container>
            <button [style.float]="translation.floatValue" style="margin-top:10px;" md-mini-fab (click)="search(searchText.value); searchText.value=''; "
              [disabled]="isDisabled">
                  <md-icon style='font-family: Material Icons'>search</md-icon>
            </button>
          </form>
        </div>
        <div class="">
          <div class='collapse navbar-collapse padding-fix' id="bs-example-navbar-collapse-1">
            <ul class='nav navbar-nav links'>
              <li [style.float]="translation.menuFloatValue" *ngFor='let menuItem of menuItems' routerLinkActive='active'>
                <a [href]='menuItem?.href' [routerLink]='(menuItem)?.routerLink'>{{(menuItem)?.title}}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class='clearfix'></div>
      </div>
    </nav>
  </div>
</header>