.btn-default:hover {
  background-color: #73b8d2;
}

.fullScreen {
  height: 80vh !important
}

header {
  position: relative;
  background-image: url('../../../assets/images/1.jpg');
  background-size: cover;
  background-position: 0% 20%;
  height: 40vh;
  min-height: 300px;
  direction: ltr !important
}

div.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 72, 79, 0.55);
}

div.caption {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  padding: 10px 0;
  color: #FFF;
  text-align: center
}

nav.navbar {
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%
}

md-input-container {
  width: 81%
}

.mat-input-element {
  color: #FFF;
  width: 100%
}

button.search {
  color: #FFF
}

div.logo {
  float: left;
  min-width: 118.875px;
  max-width: 118.875px;
  width: 118.875px;
  min-height: 50.359px;
  max-height: 50.359px;
  height: 50.359px
}

div.logo img {
  position: relative;
  top: 10px;
}

ul.links {
  direction: rtl !important
}

@media only screen and (min-width: 768px) {
  ul.links {
    float: right
  }
}

ul li.active {
  background-color: #0c88c8;
  border-radius: 0px;
  
}

ul li.active :hover , ul li.active :active , ul li.active :focus  {
    background-color: #0c88c8;
}
  
ul li.active a {
  color: #FFF;  
}

nav {
  z-index: 1;
  position: relative;
  border-radius: 0
}

.navbar-right,
.navbar-nav {
  margin: 0 !important;
  padding: 0 !important
}

.option-button {
  color: #FFF;
  padding: 0 !important
}

.option-button button {
  padding: 0 !important
}

md-card.notifications {
  position: absolute;
  z-index: 999;
  padding: 0;
  width: 300px;
  height: 150px;
  max-width: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  left: calc(100% - 320px);
  top: calc(100% - 468px);
}

md-card.notifications ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

md-card.notifications li {
  padding: 5px;
  box-shadow: 0px 2px 7px -5px rgba(0,0,0,0.6)
}

md-card.notifications h6 {
  margin: 0;
  font-weight: bold;
  font-size: 13px;
}

md-card.notifications p {
  margin-top: 2px;
  margin-bottom: 1px;
  font-size: 13px;
  font-style: italic;
  color: #555;
}

md-card.notifications span {
  display: block;
  text-align: right;
  font-size: 10px;
  color: #666;
  font-weight: bold;
}

.search-input {
  width: 60%;
  float: left
}

.navbar-header {
  float: right
}

.navbar-header button {
  background-color: #FFF
}


.mat-form-field-underline {
  height: 2px !important;
  background: #fff !important;
}

.header-title-2 {
  display: inline-block;
  padding: 10px 15px;
  margin: 0;
  font-size: 36px;
  border-top: 3px solid #007FC6;
  border-bottom: 3px solid #007FC6
}

.header-title-1 {
  display: inline-block;
  font-weight: bold;
  font-size: 42px;
}

.decription {
  position: relative;
  margin-top: 30px;
  font-weight: bold;
  font-size: 14px;
}

.decription:after {
  position: absolute;
  left: calc(50% - 40px); bottom: -40%;
  content: '';
  display: block;
  width: 80px;
  border-bottom: 2px solid #007FC6
}