h2 {
  text-align: center;
  margin: 0 0 35px 0;
  font-family: roboto
}
h2 span {
  display: inline-block;
  padding: 0 15px 8px 15px;
  border-bottom: 1px solid rgba(0,0,0,1);
}

/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: baseline;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
}

.mat-input-container , md-select{
  font-size: 14px;
  flex-grow: 1;
  padding: 0px 13px;
}

.mat-table {
  overflow: auto;
  text-align: center
}

.btn-primary {
  background-color: #23547E
}

.open-regulation {
  font-family: Roboto, Helvetica;
  width: 70%;
  color: #FFF;
  text-decoration: none;
}

md-card {
  position: relative
}
.side-menu {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  height: 100%; z-index: 999; background-color: #FFF;
  box-shadow: 6px 0 8px -4px rgba(0,0,0,0.45), 6px 0 8px -4px rgba(0,0,0,0.45);
  overflow: hidden;
}

/* @media only screen and (max-width: 768px) {
  .side-menu {
    min-width: 40%
  }
}  */

.side-menu .holder {
  position: relative
}

.close-nav {
  position: absolute;
  top: 5px; right: 5px
}

.change-view-button {
  width:100%
}

.mat-button-toggle-checked{

  background-color: #2594ce;
  color: rgba(253, 253, 253, 1);

}



.mat-tab-header{
  border-bottom: 0px  !important;
}

.mat-ink-bar{
  height: 3px !important;
}

.tab-div {
  height: 100%;
  width: 100%;
}

.tab-div > md-icon {
  vertical-align: middle;  
}

md-tab-group{
  margin-top: 15px;
}

.fiv-row {
  background: rgba(254, 227, 130, 0.53);
  border: 1px #f5d168 dashed;
}

.mat-toolbar , md-toolbar{
  background: white;
}

.mat-tab-labels {
  margin-bottom: -7px;
}