<footer>
  <div class="row">
    <div class="col-3">
      <img class="footer-img" src="../../assets/images/logo-white.png">
    </div>
    <div class="col-6" style="text-align: right;">
      <ul>
        <li *ngFor="let item of items">
          <a href="#">
            {{item.name}}
          </a>
        </li>
      </ul>
    </div>
    <div class="col-3">
      <div class="row>">
        <div class="col-md-4 col-sm-12 col-xs-12 icons-div" *ngFor='let icon of icons'>
          <img class="footer-icon" src="{{icon.src}}">
        </div>
      </div>
    </div>
  </div>
</footer>
