<section *ngIf='regulation404'>
  <h1>404 Error - Regulation not Found, redirecting...</h1>
</section>

<secion>
  <main>
    <div style="margin-top: 30px;" class="col-md-12">
      <md-card class="card-mid-color" *ngIf="spinner">
                <md-spinner class="center-block"></md-spinner>
                <h3 style="text-align: center; color:#6e9bc5;"> {{translation.currentLang.loading}} </h3>
      </md-card>
      <md-card class="card-mid-color">
        <div *ngIf="!spinner" class='header' style="text-align: justify;">

          <md-card style="background: #6ba5de; color:white;">
            <h4>
              {{primit?.name[translation.langKey]}}
            </h4>
          </md-card>
          <md-card>
            <h4 class="card-title" style="display: inline">
              {{translation.currentLang.permitAuthority}}: 
            </h4>
            <h5 style="display: inline">
                {{primit?.approval_authority[translation.langKey]}}                
            </h5>
          </md-card>

          <md-card>
            <h4 class="card-title" style="display: inline">
              {{translation.currentLang.requiredDocuments}}: 
            </h4>
            <h5 style="display: inline">
                {{primit?.required_documents[translation.langKey]}}                                
            </h5>
            <div *ngIf="primit?.required_documents_attachments[translation.langKey].length > 0" >
                <button [mdMenuTriggerFor]="menu"  md-raised-button  *ngIf=" translation.innerWidth > 765">
                  {{translation.currentLang.attachment}}
                  <md-icon>attachment</md-icon>
              </button>
                <button [mdMenuTriggerFor]="menu"  md-mini-fab  *ngIf=" translation.innerWidth <= 765">
                  <md-icon>attachment</md-icon>
              </button>
            </div>
          </md-card>
          <md-card>
            <h4 class="card-title">
              {{translation.currentLang.permitPeriod}}: 
            </h4>
            <h5>
                {{primit?.issuance_period[translation.langKey]}}                
            </h5>
          </md-card>

          <md-card>
            <h4 class="card-title">
              {{translation.currentLang.permitValidityPeriod}}: 
            </h4>
            <h5>
                {{primit?.validity_period[translation.langKey]}}                
            </h5>
          </md-card>

          <md-card>
            <h4 class="card-title">
              {{translation.currentLang.permitCost}}: 
            </h4>
            <h5>
                {{primit?.cost[translation.langKey]}}                                
            </h5>
            <div *ngIf="primit?.cost_attachments[translation.langKey].length > 0" >
            <button [mdMenuTriggerFor]="menu2"  md-raised-button  *ngIf=" translation.innerWidth > 765">
              {{translation.currentLang.attachment}}
              <md-icon>attachment</md-icon>
          </button>
            <button [mdMenuTriggerFor]="menu2"  md-mini-fab  *ngIf=" translation.innerWidth <= 765">
              <md-icon>attachment</md-icon>
          </button>
            </div>
            <md-menu #menu="mdMenu">
              <a *ngFor=" let att of primit?.required_documents_attachments[translation.langKey]; let i = index" [href]="'https://panel.cmcserv.com/panel/files//'+att+'.pdf'" md-menu-item value='library' target="_blanck" >
                  {{translation.currentLang.attachment}}
                  {{i+1}} 
              </a>
            </md-menu>
            <md-menu #menu2="mdMenu">
                <a *ngFor=" let att of primit?.cost_attachments[translation.langKey]; let i = index" [href]="'http://localhost/'+att" md-menu-item value='library' target="_blanck" >
                    {{translation.currentLang.attachment}}
                    {{i+1}} 
                </a>
              </md-menu>
          </md-card>

          <br>

        
      <md-card *ngIf="dataSource" class="example-no-results" [style.display]="dataSource._exampleDatabase.data.length === 0 ? 'none' : ''">
          <h4 class="card-title" style="color: #69a9ca;">{{translation.currentLang.relatedReg}}</h4>
  
          <md-table #table [dataSource]="dataSource">
            <ng-container mdColumnDef="type">
              <md-header-cell class="hidden-sm-down hidden-xs" *mdHeaderCellDef> {{translation.currentLang.regType}} </md-header-cell>
              <md-cell class="hidden-sm-down hidden-xs" *mdCellDef="let element"> {{element.type[translation.langKey]}} </md-cell>
            </ng-container>
  
            <ng-container mdColumnDef="number">
              <md-header-cell *mdHeaderCellDef> {{translation.currentLang.regNum}} </md-header-cell>
              <md-cell *mdCellDef="let element"> {{element.number}} </md-cell>
            </ng-container>
  
  
            <ng-container mdColumnDef="year">
              <md-header-cell *mdHeaderCellDef> {{translation.currentLang.regYear}} </md-header-cell>
              <md-cell *mdCellDef="let element"> {{element.year}} </md-cell>
            </ng-container>
  
            <ng-container mdColumnDef="name">
              <md-header-cell class="hidden-sm-down hidden-sm" *mdHeaderCellDef> {{ translation.currentLang.regName }} </md-header-cell>
              <md-cell class="hidden-sm-down hidden-sm" *mdCellDef="let element"> {{element.name[translation.langKey]}} </md-cell>
            </ng-container>
  
            <ng-container mdColumnDef="a_number">
              <md-header-cell *mdHeaderCellDef> {{ translation.currentLang.articleNum }} </md-header-cell>
              <md-cell *mdCellDef="let element"> {{element.a_number[translation.langKey]}} </md-cell>
            </ng-container>
  
            <ng-container mdColumnDef="tools">
              <md-header-cell *mdHeaderCellDef> {{ translation.currentLang.tools }} </md-header-cell>
              <md-cell *mdCellDef="let element">
  
                <!-- <button md-icon-button >
                <span style="font-size: 13px; color: #1F4A6F" [mdTooltip]="translation.currentLang.open" >
                  <md-icon>folder_open</md-icon> 
                </span>
              </button> -->
              <button md-mini-fab [routerLink]="'/user/regulation/' + element.id">
                <span>{{translation.currentLang.open}}</span>
                </button>
              </md-cell>
            </ng-container>
  
            <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
            <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
          </md-table>
  
          <div *ngIf="spinner">
            <md-spinner class="center-block"></md-spinner>
            <h3 style="text-align: center; color:#6586ab;"> {{translation.currentLang.loading}} </h3>
          </div>
          <div *ngIf="dataSource" class="example-no-results" [style.display]="dataSource._exampleDatabase.data.length === 0 ? '' : 'none'">
            <md-card class="text-center center-block">
              <md-icon style="font-size: 55px;">info</md-icon>
              <h3 style="text-align: center; color:#1F4A6F;"> {{translation.currentLang.noThingToShow}} </h3>
            </md-card>
          </div>
        </md-card>
        </div>
      </md-card>

    </div>
  </main>
</secion>
