/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";
*/
@font-face {
    font-family: "GESS-UltraLight";
    src: url("./assets/fonts/GESS-Text-UltraLight.otf")
}
@font-face {
    font-family: "GESS-Light";
    src: url("./assets/fonts/GESS-Text-Light.otf")
}
@font-face {
    font-family: "GESS-Light-Italic";
    src: url("./assets/fonts/GESS-Text-Light-Italic.otf")
}
@font-face {
    font-family: "GESS-Medium";
    src: url("./assets/fonts/GESS-Text-Medium.otf")
}
@font-face {
    font-family: "GESS-Bold";
    src: url("./assets/fonts/GESS-Text-Bold.otf")
}

.padding-fix {padding: 0 !important}
.clearfix {clear: both !important}

div.main-holder * {
    font-family: inherit;
    direction: inherit
}

nav {  
    /* background-color: rgb(31, 34, 34); */
    background-color: rgb(57, 67, 76);
}
nav ul {list-style: none; float: right; margin-top: 10px}
nav ul li {display: inline-block; padding: 5px 10px; border-radius: 12px; text-align: center}
nav ul li:not(:first-of-type) {margin-right: 10px}
nav ul li a {color: #FFF; font-family: 'GESS-Medium'; text-decoration: none}
nav a h1 {float: left; color: #FFF; font-size: 18px; margin: 16px 0 0 0; font-family: Roboto}

md-tab-group.match .mat-tab-header {
    position: absolute; bottom: 0; width: 100%
}

.form-component {
    display: block;
    width: 80%;
    margin: 25px 10% !important;
    background-color: #FFF;
    padding: 25px 15px;
    margin: 50px 0;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0,0,0,.4)
}

.form-component h3 {
    text-align: center;
    font-family: 16px;
    margin: 0;
    font-family: GESS-Medium
}

.ng-form {
    padding: 20px 0 10px 0;
    margin-top: 25px;
    border-top: 1px solid #F0F0F0
}

.mat-table::-webkit-scrollbar-track,
.custom-scroll::-webkit-scrollbar-track {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.mat-table::-webkit-scrollbar,
.custom-scroll::-webkit-scrollbar {
    border-radius: 4px;
    width: 10px; 
    background-color: #F5F5F5;
}

.mat-table::-webkit-scrollbar-thumb,
.custom-scroll::-webkit-scrollbar-thumb{
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #999;
}
.regulation-body .mat-tab-body-wrapper {
    margin: 20px 0
}

md-input-container.search .mat-input-placeholder {color: #FFF} 



.check-cell-value,
.check-cell-header {
    flex: 0 !important
}

.regulation-number-cell-header,
.regulation-number-cell-value,
.regulation-year-cell-header,
.regulation-year-cell-value,
.article-number-cell-header,
.article-number-cell-value,
.regulation-type-cell-header,
.regulation-type-cell-value  {
    flex: 1 !important
}

@media only screen and (max-width: 768px) {
    .regulation-name-cell-header,
    .regulation-name-cell-value {
        flex: 1 !important
    }
    .open_cell_header,
    .open_cell_value {
        flex: 0 !important
    }
}

@media only screen and (min-width: 768px) {
    .regulation-name-cell-header,
    .regulation-name-cell-value {
        flex: 2 !important
    }
    .open_cell_header,
    .open_cell_value {
        flex: 1 !important
    }
}

.open-regulation-button {
    background-color: #0084C8 !important;
    color: #FFF !important;
    width: 40% !important;
    padding-bottom: 40px !important;
    font-size: 13px !important;
    float: left !important;
    position: relative !important;
    left: 20% !important;
}

/* Table Menu */
.mat-menu-content {
    padding-top: 0 !important
}




.reg-favorite {
    color: #F00 !important
}
.reg-archive {
    color: #0F0 !important
}

md-icon {
    font-family: Material Icons !important
}

.mat-menu-item:hover:not([disabled]), .mat-menu-item:focus:not([disabled]) {
    background-color: #0084C8 !important;
    color : white;
}

@media only screen and (max-width: 768px) {
    .navbar-collapse.in {
        width: 100%
    }
}

@media only screen and (max-width: 460px) {    
.mat-row , .mat-header-row {
    padding: 0px !important;
} }

/* .mat-form-field {
    width: -webkit-fill-available !important
} */

.mat-option:hover:not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled) , .mat-option.mat-active {
    background: rgb(77, 148, 209) !important;
    color: #fff !important;
}

md-paginator{
    display: none !important;
}

ul.ngx-pagination {
    margin: 10px 0 0 0;
    padding: 5px 0;
    position: relative
}

ul.ngx-pagination li:first-of-type {
    float: left;
    padding-right: 8px
}

ul.ngx-pagination li:last-of-type {
    float: right;
    padding-left: 8px
}

.ngx-pagination .pagination-next a::after, .ngx-pagination .pagination-next.disabled::after {
    content: '' !important
}

.ngx-pagination .pagination-previous a::before, .ngx-pagination .pagination-previous.disabled::before {
    content: '' !important
}


.mat-select{
    padding-top: 10px !important;
}

.card-mid-color{
    background: #FAF8F8 !important;    
    min-height: 240px;
}

.card-title{
    color: #6eb6f9;
    text-align: justify;
}


.mat-tab-label-active{
    color: #fff !important;
    opacity: 1 !important;
}


.mat-form-field {
    width: 100%;
}


main {
    padding: 5px;
}

.center-block{
    margin: 0 auto;
}


nav {
    text-transform: uppercase;
}


.mat-tab-group.mat-primary .mat-tab-label:focus, .mat-tab-group.mat-primary .mat-tab-link:focus, .mat-tab-nav-bar.mat-primary .mat-tab-label:focus, .mat-tab-nav-bar.mat-primary .mat-tab-link:focus{
    background: unset;
}

@media (max-width: 620px) {
    .hidden-sm-down{
        display: none !important;
    }
}


.cdk-overlay-container{
    z-index: 1031 !important;
}