section{
  min-height: 80vh;
}
header{
  text-align: center;
  background-color: #424242;
  padding: 20px;
  color: white;
}
.after-header{
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  padding: 87px;
  padding-top: 40px;
}
.row{
  margin: 0;
}
.section-text{
  font-size: 16px;
}
.section-text > p > strong {
  color: #1586C5;
  font-family: Helvetica, Roboto, Arial, sans-serif
}

p {
  text-align: center !important
}