<section id="aboutUs">
  <header>
    <h2>{{translation.currentLang.aboutUs}}</h2>
  </header>
  <div class="after-header">
    <div [innerHTML]='(secText[translation.langKey])?.body'>

    </div>
    <!-- <div *ngIf="translation.langKey == 'ar'" class="section-text">
      <p>
        <strong>CMCSERV</strong> هي شركة مستقلة متخصصه فى تقديم الخدمات الإستشاريه لنظم إدارة الإلتزام القانونى. و تقدم
        <strong>CMCSERV</strong> خدماتها الإستشارية لجميع قطاعات الأعمال فيما يتعلق بالتطبيق السليم لقوانين السلامة و الصحة المهنية
        و البيئة.
      </p>
      <p>
        و تمتلك
        <strong>CMCSERV</strong> قاعدة بيانات تفاعلية تشمتل على كافة القوانين المصرية المتعلقة بالسلامة والصحة المهنية و البيئة و
        التى يمكن من خلالها التعرف بدقة على المتطلبات القانونيه الواجب الإلتزام بها طبقاً لطبيعه الأعمال و كذلك العقوبات
        المتعلقه بعدم الإلتزام بتلك المتطلبات.
      </p>
      <p>
        ويستطيع عملاء
        <strong>CMCSERV</strong> إستخدام قاعدة البينات لتحديد التصاريح اللازمة لممارسة الأعمال  ومتطلبات إستخراج تلك التصاريح مع
        تحديد جهات الحكومية المعنية بإصدارها وكذلك الوقت والتكلفة المطلوبة لإستخراج التصريح.
      </p>
      <p>
        و تحرص شركة
        <strong>CMCSERV</strong> على توفير إستشارات الإلتزام القانونى لعملائها على مدار الساعة. لذا فقد قامت
        <strong>CMCSERV</strong> بإنشاء قاعدة بياناتها التفاعلية على شبكة الإنترنت مما يمكن عملائنا الوصل إليها و إستخدامها بسهولة
        ويسر عن طريق الكومبيوتر أو الهواتف الذكية. و يحرص فريق
        <strong>CMCSERV</strong> دائما على مراجعة و تحديث قاعدة البينات بشكل يومى للتأكد من تطويرها بما يتماشي مع المتغيرات القانونية.
        <p>
          تنفرد
          <strong>CMCSERV</strong> بجمعها بين المعرفة المتعمقة بطبيعة الأعمال فى القطاعات المختلفة الصناعية والخدمية والتجارية وخبرات
          التعامل مع الجهات الحكومية فى مصر.  نحن نؤمن بأن قوة وإستمرار نجاح أى مؤسسة يعود بشكل مباشر لتفهمها وإتبعاها للقوانين
          المنظمة لأعمالها وهنا ياتى دورنا أن ندعم نجاح وإزدهار شركاءنا من خلال تقديم خدماتنا بأحدث التقنيات فى مجال إستشارات
          نظم إدارة الإلتزام القانونى.
        </p>

    </div>

    <div *ngIf="translation.langKey == 'en'" class="section-text">

      <p>
        <strong>CMCSERV</strong> is an independent provider for Compliance Management Consultation Services.
        <strong>CMCSERV</strong> provides its consultation services to all business sectors in managing compliance with occupational
        health, safety, and environmental regulations.
      </p>
      <p>
        <strong>CMCSERV</strong> developed its interactive database that cover all Egyptian regulations related to occupational health,
        safety, and the environment, through which applicable regulatory requirements can be accurately identified according
        to the nature of the business as well as non-compliance penalties with those requirements.
      </p>
      <p>
      <strong>CMCSERV</strong> clients can use the interactive database to determine the permits required to conduct business and
      the requirements for obtaining such permits. Moreover, CMCERV database defines the competent administrative authority
      which is concerned with issuing the permit, as well as the time and cost required to issue the permit.
    </p>
      <p>
        <strong>CMCSERV</strong> is committed to providing regulatory compliance services to its clients 24 hours a day. Therefore,
        <strong>CMCSERV</strong> has uploaded its interactive database to the cloud in order to enable
        <strong>CMCSERV</strong> customers to easily access and use the regulations database via PC or smartphones.
        <strong>CMCSERV</strong> is always keen to provide its customers with the most updated regulations. In this respect,
        <strong>CMCSERV</strong> team review and update the regulations database on a daily basis to ensure that it is in line with
        the changes in regulations.
      </p>
      <p>
        <strong>CMCSERV</strong> combines the in-depth knowledge of the nature of business in various sectors (industrial, service,
        commercial, etc.) and the experience of dealing with governmental agencies in Egypt. We believe that the strength
        and success of any organization is directly attributable to its understanding and compliance with the regulations
        governing its business. Here comes our role to support the success and prosperity of our partners by providing our
        customers with compliance management consultation services with the latest technologies in order to make it easy
        for our customers to comply with their applicable regulatory requirements.
      </p>
    </div> -->

  </div>
</section>
